/* the page-home */ 

body{
    background: $color-white;  
    font-family: $font-raleway;
    position: relative;
}
body.page-home {
	background: $color-body;
}
body.loading {
	overflow: hidden;
	.loader {
		display: block;
	}
	.hidden-mask {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 11;
		background: $color-white; 
	}
}
.loader {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 12;
	.round,
	.section {
		position: absolute;
		height: 60px;
		width: 60px;
		border-radius: 50% !important;
		box-sizing: content-box;
	}
	.round {
		top: 50%;
		left: 50%;
		margin-left: -30px;
		margin-top: -30px;
		border: 2px solid #ccc;
	}
	.section {
		top: -4px;
		left: -4px;
		border: 4px solid transparent;
		border-top-color: $color-brown;

		animation: loader 1s linear infinite;
	}
}

@keyframes loader {
	100% {
		transform: rotate(360deg);
	}
}
.container {
	width: 1180px;
	margin: auto; 
}
#top-section {
	/* height: 62.5vw; */
	padding-bottom: 205px;
	background: url($image_dir+'home/top_bg.jpg');
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    .back {
    	background: url($image_dir + 'home/slider-top_bg.png');
    	background-size: cover; 
    }
}
.slider-top {
	margin-top: 277px;/* 22vw */
	.slick-list {
	    width: 1180px;
    	margin: auto;
	}
}
.slider-top__item {
	text-align: center;
	img {
    	margin: 2.6% auto 2%;/* 2.6vw auto 1.84vw */
    	width: 22%;/* 20.5vw */ 
	}
	h2 {
		text-transform: uppercase;
		font-weight: 200;
		color: $color-white;
		font-size: 60px;/* 4.8vw */
		letter-spacing: 12px;/* 0.94vw */
	}
}
.slider-links {
	text-transform: uppercase;
	font-size: 20px;/* 1.562vw */
	font-weight: 400;
	margin: 4.9% auto;/* 4.6vw auto 4.5vw */ 
	a {
		color: $color-white;
		text-decoration: underline;
	    border-right: 0.157vw solid;
	    padding: 0 0.785vw 0 0.315vw;
	    letter-spacing: -0.02vw;
	    /*////////////////////*/
	    margin-left: 1px;
	    border-width: 2px;
	    letter-spacing: -0.5px;
	    padding: 0 10px 0 4px;
		&:first-child {
			margin-left: 0.262vw;
			/*////////////////////*/
			margin-left: 6px;
			span {
				&:last-child {
					display: none;
				}
			}
		}
		&:last-child {
			border: none;
		}
	}
}
.slick-arrow {
	position: absolute;
	border-bottom: 2px solid $color-white;/* 0.15vw */
	border-right: 2px solid $color-white;
	transform: rotate(135deg);
	cursor: pointer;
	z-index: 10;
	width: 36px;/* 3.023vw */
    height: 36px;
    left: 1.5%;/* 4.2vw // calc(50vw - 590px)*/
    top: calc(50% - 30px);/* calc(50% - 2.4vw) */
}
.slick-next {
	left: inherit;
	transform: rotate(-45deg);
	right: 1.5%;/* 4.4vw // calc(50vw - 590px)*/
}
#products {
	.container {
		padding: 48px 0 58px;/* 3.8vw 0 4.6vw */
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(246,238,236,1) 100%);
	}
}
.slider-products {
	.slick-arrow {
		top: 0;
		left: 0;
		height: 100%;
		width: 6.77vw;
		background: rgba(255,255,255,0.8);
		border: none;
		transform: rotate(0);
	    padding-left: 4.17vw;
	    padding-top: 10.42vw;
	    z-index: 10;
	    /*/////////////////////*/
	    width: 85px;
	    padding-left: 54px;
	    padding-top: 127px;
		span {
			display: block;
			width: 3.023vw;
			height: 3.023vw;
			border-bottom: 0.15vw solid $color-white;
			border-right: 0.15vw solid $color-white;
			transform: rotate(135deg);
			border-color: $color-black;
			/*/////////////////////////*/
			width: 36px;
			height: 36px;
			border-width: 2px;
		}
	}
	.slick-next {
		left: inherit;
		right: 0;
		transform: rotateY(180deg);
	}	
}
.rl-pad {
	padding: 0 6.42vw;
	font-size: 0; 
	/* height: 53vw; */
	overflow: hidden;
	height: 730px;
	/*//////////////*/
 
    /* height: 730px; */
    padding: 0;
}
.section-left {
	width: 55%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	background: $color-brown;
	padding: 9.42vw 0; 
	color: $color-white;
	/*///////////////////////*/
	padding: 11% 0;
	height: inherit;
	img {
		width: 9.4vw;
		width: 128px;
	}
	h3 {
		font-size: 3.3vw;
		font-weight: 200;
	    text-transform: uppercase;
	    letter-spacing: 0.65vw;
	    margin: 5.5vw 0 2.7vw 0.8vw;
	    /*///////////////////////*/
	    font-size: 46px;
	    letter-spacing: 8px;
	    margin: 74px 0 37px 10px;
	}
	p {
		font-size: 1.09vw;
		font-weight: 400;
		/*//////////////////////////*/
		font-size: 15px;
	}
	a {
		font-weight: 500;
		font-size: 1.315vw;
		letter-spacing: -0.01vw;
		color: $color-white;
		text-transform: uppercase;
	    padding: 1.7vw 3vw;
	    display: inline-block;
	    border: 0.18vw solid;
	    border-radius: 0.4vw;
	    margin: 3.55vw 0 4.55vw 0.3vw;
	    /*//////////////////////////*/
	    font-size: 18px;
	    letter-spacing: -0.1px;
	    padding: 24px 41px;
	    border-width: 2px;
	    margin: 48px 0 61px 2px;
	    border-radius: 4px;
	}
}
.section-right {
	width: 45%;
	display: inline-block;
	height: 730px;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	> img {
		width: 100%;
		display: none;
	}
}
#bridal {
	
}
.section-left_thin {
	width: 43%;
	display: inline-block;
	height: 730px;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	> img {
		width: 100%;
		display: none;
	}
}
.section-right_large {
	width: 57%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	background: $color-white;
	padding: 11.5vw 0 8vw 2.6vw; 
	color: $color-brown;

	padding: 156px 0 140px 26px;
	height: inherit;
	img {
		width: 156px;/* 11.3vw */
	}
	h3 {
		font-size: 3.3vw;
		font-weight: 200;
	    text-transform: uppercase;
	    letter-spacing: 0.63vw;
	    margin: 6.7vw 0 2.7vw 0.8vw;
		/*////////////////////*/
	    font-size: 46px;
	    letter-spacing: 8px;
	    margin: 90px 0 38px 16px;
	}
	p {
		font-size: 1.09vw;
		font-weight: 400;

		font-size: 15px;
	}
	a {
		font-weight: 500;
		font-size: 1.315vw;
		letter-spacing: -0.01vw;
		color: $color-brown;
		text-transform: uppercase;
	    padding: 1.7vw 7.3vw;
	    display: inline-block;
	    border: 0.18vw solid;
	    border-radius: 0.4vw;
	    margin: 3.55vw 0 4.55vw 0.55vw;
	    /*/////////////////*/
	    font-size: 18px;
	    letter-spacing: -0.5px;
	    margin: 48px 0 30px 10px;
	    border-width: 2px;
	    border-radius: 6px;
	    padding: 24px 100px;
	}
}
#evening {
	/* height: 53.2vw;

	height: 733px; */
}
#accessories {
	/* height: 53.4vw;

	height: 1030px; */
	.section-full {
		background: url($image_dir + 'home/accessories_bg.jpg');
		background-size: cover;
	}
}
.section-full {
	text-align: center;
	padding: 14.4vw 0 10.4vw; 
	color: $color-white;

	/* height: inherit; */
    padding: 197px 0 174px;
	img {
		width: 6.2vw;

		width: 80px;
	}
	h3 {
		font-size: 3.3vw;
		font-weight: 200;
	    text-transform: uppercase;
	    letter-spacing: 0.63vw;
	    margin: 4.3vw 0 2.7vw 0.8vw;
	    /////////////////////////////
	    font-size: 46px;
	    letter-spacing: 8px;
	    margin: 59px 0 38px 8px;
	}
	p {
		font-size: 1.09vw;
		font-weight: 400;
		/////////////////
		font-size: 15px;
	}
	a {
		font-weight: 500;
		font-size: 1.315vw;
		letter-spacing: -0.02vw;
		color: $color-white;
		text-transform: uppercase;
	    padding: 1.7vw 7.3vw;
	    display: inline-block;
	    border: 0.18vw solid;
	    border-radius: 0.4vw;
	    margin: 3.55vw 0 4.55vw 0.35vw;
	    ////////////////////////////
	    font-size: 18px;
	    letter-spacing: -0.5px;
	    margin: 48px 0 30px 4px;
	    border-width: 2px;
	    border-radius: 6px;
	    padding: 23px 100px;
	}
}
#prom {
	.section-left {
		background: $color-red;
		padding-bottom: 134px;
		img {
		    width: 5.9vw;
		    margin-top: 0.8vw;
		    margin-left: 1.2vw;
		    /* margin-bottom: 0.3vw; */
		    ////////////////////
		    width: 78px;
		    margin: 8px 0 9px 15px;
		}
		a {
		    padding: 1.7vw 5vw;
		    ///////////////////
		    padding: 23px 67px;
		}
	}
}
#pageant {
	/* height: 53.3vw;

	height: 735px; */
	.section-right_large {
		color: $color-red;
	    padding-bottom: 156px;
	    /* padding-top: 12.8vw;
	    padding-bottom: 9vw;

        padding: 63px 0; */
		img {
		    width: 10.8vw;
    		margin-left: 0.6vw;
    		////////////////////
    	    width: 148px;
		    margin-top: 17px;
		    margin-left: 10px;
		}
		h3 {
		    margin-top: 7.23vw;
    		margin-left: 1vw;
    		///////////////////
    	    margin-top: 101px;
    		margin-left: 22px;
		}
		p {
			margin-left: 0.2vw;
		}
		a {
			color: $color-red;
			span {
		    	&:first-child {
		    		display: inline;
		    	}
		    	&:last-child {
		    		display: none;
		    	}
		    }
		}
	}
}
#luxury {
	background: url($image_dir + 'home/luxury_bg.jpg');
	background-size: cover;
    margin-top: -6.6vw;
    padding-top: 12.2vw;
    height: inherit;
    padding-bottom: 6.6vw;
    //////////////////////
    margin-top: -90px;
    padding-top: 166px;
    padding-bottom: 90px;
	.section-full {
		background: rgba(0,0,0,0.5);
	    padding-bottom: 8.65vw;
        padding-top: 11.4vw;
        ///////////////////
        padding-top: 156px;
        img {
            width: 4.7vw;
    		margin-left: 0.4vw;
    		//////////////////
    	    width: 68px;
    		margin-left: 5px;
        }
        h3 {
    	    margin: 4.8vw 0 1.98vw 0.8vw;
    	    ///////////////////////////
            margin: 62px 0 28px 10px;
        }
        p {
            margin: 0 7vw;
    		line-height: 2.2vw;
    		///////////////////
    		line-height: 29px;
    		margin: 0 100px;
        }
        a {
        	color: $color-black;
        	background: $color-white;
        	border: none;
            margin-top: 4.05vw;
		    margin-left: 0.1vw;
		    margin-bottom: 4vw;
		    padding: 1.85vw 7.45vw;
		    //////////////////////
		    margin-top: 60px;
		    padding: 25px 102px;
		    margin-bottom: 64px;
        }
	}
}
#news {
	/* padding: 0 6.5vw; */
	font-size: 0;
	margin: 6.6vw 0 8.2vw;
	/////////////////////
	margin: 90px 0 112px;
	/* padding: 0px calc(50% - 590px); */
}
.news-item {
	width: 38.1%;
	min-height: 1px;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	text-align: center;
	/* font-size: 1.1vw; */
	color: $color-black;
    padding-left: 0.23vw;
    letter-spacing: -0.01vw;
    border-right: 0.15vw solid $color-brown;
    border-left: 0.15vw solid $color-brown;
    ///////////////////////
    padding-left: 3px;
    letter-spacing: -0.2px;
    border-width: 2px;
	h4 {
		font-weight: 700;
		font-size: 1.315vw;
		margin-bottom: 1.5vw;
		/* letter-spacing: -0.007vw; */
		line-height: 1.7vw;
		///////////////////
	    font-size: 18px;
	    line-height: 21px;
	    margin-bottom: 23px;
	}
	p {
		font-weight: 400;
		color: #6d6d6d;
	}
	a {
		display: block;
		font-weight: 500;
		color: $color-brown;
		text-decoration: underline;
		margin-top: 2.3vw;
		margin-bottom: 1.7vw;
		////////////////////
	    font-size: 15px;
	    margin-top: 33px;
	    margin-bottom: 20px;
	}
	&:first-child {
		padding-right: 6.3%;
		padding-left: 0;
    	width: 31.7%;
		border: none;
		a {
			/* margin-top: 2.5vw; */
			margin-bottom: 0;
		}
	}
	&:last-child {
		width: 30.2%;
		padding-left: 6%;
		border: none;
		a {
			margin-bottom: 0;
		}
	}
}
p.news-title {
	font-size: 1.315vw;
	color: $color-black;
	line-height: 1.6vw;
	//////////////////
    font-size: 18px;
    line-height: 20px;
}
p.news-subtitle {
	margin-top: 0.7vw;
	/////////////////
    font-size: 15px;
    margin-top: 10px;
}
p.price {
	margin-top: 0.7vw;
	//////////////////
	margin-top: 10px;
	font-size: 16px;
}
.news-title.transform-none {
	text-transform: none;
}
.bottom-slider-mobile {
	display: none;
}
#bottom-slider {
	margin-bottom: 98px;/* 7.2vw */	
}
.bottom-slider {
	display: block;
	.slick-arrow {
		top: 0;
		left: 0;
		height: 100%;
		width: 125px;/* 10.1vw */
		background: rgba(255,255,255,0.8);
		border: none;
		transform: rotate(0);
	    padding-left: 4.17vw;
	    padding-top: 8.45vw;
	    ///////////////////
	    padding-left: 54px;
    	padding-top: 106px;
		span {
			display: block;
			width: 3.023vw;
			height: 3.023vw;
			border-bottom: 0.15vw solid $color-white;
			border-right: 0.15vw solid $color-white;
			transform: rotate(135deg);
			border-color: $color-black;
			//////////////////////////
		    width: 36px;
		    height: 36px;
		    border-width: 2px;
		}
	}
	.slick-next {
		left: inherit;
		right: 0;
		transform: rotateY(180deg);
	}
}

.checkout_pop-up.active {
	display: block;
}
.checkout_pop-up {
    display: none;
    border: 1px solid #000;  background-color: #fff;
    position: fixed;
    padding: 45px 31px 26px;
    font-size: 16px;
    top: 100px;
    right: calc(50% - 540px);
    width: 295px;
    text-align: center;
    &:before {
  	    content: '';
	    display: block;
	    width: 28px;
	    height: 28px;
	    top: -15px;
	    right: 49px;
	    border-bottom: 1px solid;
	    border-right: 1px solid;
	    transform: rotate(-135deg);
	    position: absolute;
	    background: $color-white;
    }
    h4 {
    	text-align: left;
	    text-transform: uppercase;
	    font-weight: 700;
	    font-size: 17px;
	    margin-bottom: 37px;	
    }
    .count {
    	color: rgba(0, 0, 0, 0.3);
  		padding-bottom: 8%;
  	    margin-bottom: 17px;
  		.title {
  			float: left;
  		}
    }
    .detail {
    	text-align: left;
	    letter-spacing: 1px;
	    line-height: 25px;
	    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.3);
	    padding-bottom: 9.7%;
	    margin-bottom: 11%;
	    strong, span {
	    	display: block;
	    }
    }
    .subtotal {
    	letter-spacing: 1px;
  		padding-bottom: 12.3%;
  		margin-bottom: 18px;
  		.title {
  			float: left;
  		}
    }
    .close {
	    cursor: pointer;
	    display: block;
	    position: absolute;
	    top: 2%;
	    right: 3.5%;
	    width: 7%;
	    height: 4.7%;
	    background-image: url($image_dir + 'home/btn_close.png');
	    background-size: contain;
	}
	.std-btn {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 700;
		font-family: $font-opensans;
		background: $color-black;
		color: $color-white;
		margin-bottom: 12px;
		padding: 15px 0;
		margin-right: 2px;
	}
	.view-bag {
		display: block;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.3px;
		color: $color-black;
	}
}
.checkout_pop-up .count :not(.title), .checkout_pop-up .subtotal :not(.title) {
  float: right;
  font-family: $font-opensans;
  font-size: 15px;
  margin-right: 3px;
}

@media all and (max-width: 1200px) {
	.container {
		width: 900px;
	}
	.slider-top .slick-list {
		width: 100%;
	}
	.slick-arrow {
		left: 20px;
	}
	.slick-next {
		left: inherit;
		right: 20px;
	}
	.rl-pad {
		width: 100%;
		height: 600px;;
	}
	.section-left {
		padding: 8% 0;
	}
	.section-right_large {
		padding-top: 130px;
	}
	#evening, #accessories, #pageant {
    	height: 60vw;
	}
	p.news-title, p.news-title, p.news-subtitle, p.price {
		font-size: 15px;
	}
	.checkout_pop-up {
		right: 50px;
	}
}

@media all and (max-width: 993px) {
	body {
		background: $color-white;
		text-align: center;
	}
	body.hidden {
		overflow: hidden;
	}
	.container {
		width: 100%;
	}
	.hidden-mask {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: $color-black;
		opacity: 0;
		transition: z-index 0.5s ease-out, opacity 0.5s ease-out;
		z-index: -1;
	}
	.hidden .hidden-mask {
		opacity: 0.5;
		z-index: 10;
	}

	.main-content {
		padding-top: 3vw;
		overflow: hidden;
	}
	#top-section {
	    background: url($image_dir + 'home/top-mobile_bg.jpg');
    	background-position: top center;
    	background-size: 100%;
    	height: inherit;
    	padding-bottom: 40vw;
    	margin-bottom: 5vw;
	}
	.slider-top {
		margin-top: 44vw;
	}
	.slider-top__item {
		img {
    		margin: 4.7vw auto 4vw;
    		width: 42vw;
    	}
		h2 {
			font-size: 12.5vw;
			letter-spacing: 2.5vw;
		    margin-left: 17px;
		    line-height: 14vw;
		}
	}
	.slider-links {
		font-size: 4.6vw;
	    margin: 9.0vw auto 7.5vw;
		a {
			border-right: 0.5vw solid;
		    padding: 0 2.5vw 0 1.5vw;
		    letter-spacing: -0.15vw;
			&:first-child {
				span {
					&:first-child {
						display: none;
					}
					&:last-child {
						display: inline;
					}
				}
			}
		}
	}
	.slick-dots {
		position: absolute;
	    left: 1.5vw;
	    right: 0;
	    margin: auto;
	    bottom: -34.5vw;
		li {
			display: inline-block;
		    margin-right: 1.5vw;
			button {
				font-size: 0;
			    background: #a2a2a2;
			    border: none;
			    border-radius: 50%;
			    width: 3.5vw;
			    height: 3.5vw;
			    color: #a2a2a2;
			    opacity: 0.8;
			    transition: all .5s ease-out;
			}
		}
		.slick-active {
			button {
				background: #aa5844;
    			color: #aa5844;
    			opacity: 0.8;
			}
		}
	}
	#products {
		background: $color-white;
		margin-bottom: 11.6vw;
	}
	.slider-products {
		.slick-arrow {
		    padding-left: 5.5vw;
    		padding-top: 27vw;
		    background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%);
			span {
			    width: 7.5vw;
			    height: 7.5vw;
			    border-width: 0.3vw;
			}
		}
	}
	.section-right {
		display: none;
	}
	.rl-pad {
    	padding: 0 4vw;
    	height: inherit;
	}
	.section-left {
		width: 100%;
		margin: 4.7vw 0 5.5vw; 
	    padding: 8.5vw 0;
	    background: rgba(170,88,68,0.8);
		img {
			width: 12.3vw;
		}
		h3 {
			font-size: 8.3vw;
			letter-spacing: 1.56vw;
		    margin: 7.7vw 0 5.7vw 1.8vw;
		}
		p {
			font-size: 2.9vw;
		    letter-spacing: -0.02vw;
		}
		a {
		    font-size: 2.5vw;
		    letter-spacing: -0.01vw;
		    color: $color-brown;
		    background: $color-white;
		    padding: 4.3vw 5.1vw;
		    border: none;
		    border-radius: 1.3vw;
		    margin: 8.55vw 0 4vw 0.3vw;
		}
	}
	#bridal {
		background: url($image_dir + 'home/bridal_bg.jpg');
		background-position: top center;
		background-size: 100%;
	}
	.section-left_thin {
		display: none;
	}
	.section-right_large {
		width: 100%;
    	padding: 14.5vw 0 10.8vw 0;
    	background: none;
		img {
		    width: 19vw;
    		margin-left: -2vw;
		}
		h3 {
		    font-size: 8.3vw;
		    letter-spacing: 1.5vw;
		    margin: 8.3vw 0 5.8vw 1.5vw;
		}
		p {
			font-size: 2.86vw;
		}
		a {
		    font-size: 2.5vw;
		    margin-top: 8.9vw;
		    margin-left: 0.5vw;
		    color: #fff;
		    padding: 4.25vw 13.2vw;
		    border: none;
		    background: $color-brown;
		    border-radius: 1.2vw;
		}
	}
	#evening {
		background: url($image_dir + 'home/evening_bg.jpg');
		height: inherit;
		background-size: 100%;
    	background-position: top center;
	}
	#accessories {
		height: inherit;
		padding: 0;
		.section-full {
			background: url($image_dir + 'home/accessories_mobile_bg.jpg');
			background-size: cover;
			background-position: top center;
		}
	}
	.section-full {
		img {
	    	width: 12.5vw;
		}
		h3 {
		    font-size: 8.5vw;
		    font-weight: 200;
		    text-transform: uppercase;
		    letter-spacing: 1.4vw;
		    margin: 7.7vw 0 4.4vw 1.8vw;
		}
		p {
		    font-size: 2.8vw;
		    margin: 0 5vw;
		    letter-spacing: 0.03vw;
		    line-height: 5.5vw;
		}
		a {
		    margin-top: 7vw;
		    color: $color-brown;
		    font-size: 2.5vw;
		    padding: 4.2vw 13.2vw;
		    border: none;
		    background: #fff;
		    margin-left: 0.5vw;
		    margin-bottom: 4.3vw;
		    border-radius: 1.3vw;
		}
	}
	#prom {
		background: url($image_dir + 'home/prom_bg.jpg');
		background-size: cover;
		background-position: top center;
		.section-left {
		    margin-top: 5.4vw;
		    padding-top: 7vw;
		    margin-bottom: 5.3vw;
			img {
			    width: 10.9vw;
			    margin-top: 0;
			    margin-left: 0;
			}
			h3 {
			    margin-top: 5.8vw;
			    letter-spacing: 1.4vw;
			    margin-left: 1vw;
			}
			a {
			    padding: 4.3vw 9vw;
			    margin-top: 9vw;
			    margin-left: -0.5vw;
			    margin-bottom: 3.6vw;
			}
		}
	}
	#pageant {
		height: inherit;
		.section-right_large {
			padding-top: 17vw;
			img {
	    		width: 23vw;
	    		margin-left: 0;
			}
			h3 {
			    margin-top: 9.2vw;
    			margin-left: 2vw;
			}
			a {
			    margin-left: -0.3vw;
			    color: $color-white;
			    background: $color-red;
		        padding: 4.25vw 8.8vw;
	            margin-bottom: 6.5vw;
			    span {
			    	&:first-child {
			    		display: none;
			    	}
			    	&:last-child {
			    		display: inline;
			    	}
			    }
			}
		}
	}
	#luxury {
		margin-top: 0;
		padding-top: 13.2vw;
	    padding-bottom: 19.5vw;
	    background: url($image_dir + 'home/luxury_mobile_bg.jpg');
	    background-size: 100%;
    	background-position: top center;
		.section-full {
		    padding-top: 11vw;
			img {
			    width: 14vw;
			    margin-left: 1.5vw;
			}
			h3 {
			    margin: 11.7vw 0 2.5vw 1.8vw;
			    font-size: 8.1vw;
			    line-height: 12vw;
			    letter-spacing: 1.65vw;
			}
			p {
			    margin: 0 6vw;
			    line-height: 5.5vw;
			}
			a {
			    color: $color-red;
			    margin-top: 7.9vw;
			    margin-left: -0.4vw;
			    margin-bottom: 5.8vw;
			    padding: 4.1vw 13.1vw;
			    border-radius: 0.8vw;
			}
		}
	}
	#news {
		background: $color-body;
		margin: 0;
    	padding: 3.7vw 0 7vw;
	}
	.news-item {
		width: 100%;
	    padding-bottom: 15vw;
	    padding-top: 15.4vw;
	    position: relative;
	    border: none;
	    &:before, &:after {
	    	content: "";
	    	display: block;
	    	height: 0.2vw;
	    	width: 35vw;
	    	margin: auto;
	    	background: rgba(185,118,102,0.3);
	        position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
	    }
	    &:after {
	    	top: inherit;
	    	bottom: 2.8vw;
	    }
		&:first-child {
			width: 100%;
			padding-right: 0;
			padding-bottom: 0;
			margin-bottom: 15vw;
			&:before, &:after {
				display: none;
			}
			a {
				margin-top: 6.9vw;
			}
		}
		&:nth-child(2) {
			p.price {
			    margin-top: 3.3vw;
			}
		}
		&:last-child {
			width: 100%;
			padding-left: 0;
			padding-top: 12vw;
			&:before, &:after {
				display: none;
			}
			h4 {
			    margin-bottom: 5.2vw;
			}
			p.news-title {
				line-height: 5vw;
			}
			a {
			    margin-top: 6.2vw;
			}
		}
		h4 {
			font-size: 3.8vw;
			margin-bottom: 7.5vw;
		}
		a {
			font-size: 3.2vw;
			margin-top: 6.9vw;
		}
	}
	p.news-title {
    	font-size: 3.75vw;
	}
	p.news-subtitle {
    	margin-top: 3.4vw;
    	font-size: 3.15vw;
	}
	p.price {
	    margin-top: 2.2vw;
	    font-size: 3.15vw;
	}
	.bottom-slider {
		display: none;
	}
	.bottom-slider-mobile {
		display: block;
		.slick-arrow {
    		transform: none;
    		height: 100%;
    		width: 12vw;
    		left: 0;
    		top: 0;
    		border: none;
		    background: url($image_dir + 'home/arrow-mobile_bg-repeat.png');
		    background-size: 100%;
			span {
			    width: 7.5vw;
			    height: 7.5vw;
			    border-bottom: 0.3vw solid $color-black;
    			border-right: 0.3vw solid $color-black;
 				position: absolute;
 			    transform: rotate(135deg);
			    left: 5.5vw;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			}
		}
		.slick-next {
			left: inherit;
			right: 0;
			transform: rotate(180deg);
		}
	}
	#bottom-slider {
		margin-bottom: 0;
		background: $color-body;
	}

	.checkout_pop-up {
	    top: 0;
		right: 0;
		width: 100vw;
		height: 100%;
		z-index: 11;
		border: none;
		font-size: 3.5vw;
	    padding: 19.5vw 3.9vw 4vw;
		&:before {
			content: none;
		}
		.close {
			top: 4.5%;
			right: 7.5%;
			width: 4.5%;
			height: 4.5%;
		    background-repeat: no-repeat;
			&:before, &:after {
				height: 0.5vw;
			}
		}
		h4 {
			font-size: 4.4vw;
			margin-bottom: 8vw;
		}
		.count {
			margin-bottom: 0.1vw;
		}
		.count :not(.title), .subtotal :not(.title) {
			font-size: 3.5vw;
			margin-right: -0.4vw;
		}
		.detail {
		    padding-bottom: 5%;
		    margin-bottom: 6%;
		}
		.subtotal {
		    margin-bottom: 3.2vw;
		}
		.std-btn {
			font-size: 4.4vw;
			padding: 5vw 0;
			margin-bottom: 5vw;
		}
		.view-bag {
			font-size: 3vw;
		}
	}
	.section-right {
		background-image: none!important;
		> img {
			display: block;
		}
	}
	.section-left_thin {
		background-image: none!important;
		> img {
			display: block;
		}
	}
}
@media all and (max-width: 380px) {
	.checkout_pop-up .close {
		&:before, &:after {
			height: 2px;
		}
	}
}
/* end page-home */