/* the page-signin */ 

.page-sign-in {
    background: $color-white;  
    position: relative;
}
.sign_in {
	text-align: center;
	padding-top: 125px;
    margin-bottom: 200px;
    background: url($image_dir + 'checkout/signin_bg.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; 
	h1 {
		text-transform: uppercase;
	    font-size: 40px;
	    font-weight: 200;
	    letter-spacing: 9px;
	    margin: 0 0 62px 8px;
	}
	.container > a {
		display: block;
		color: $color-brown;
		font-weight: 500;
	    font-size: 14px;
	    letter-spacing: 0.4px;
	    margin: 33px 0 41px;
	}
	.form_line {
		width: 180px;
		margin: auto;
		min-height: 1px;
		background: #ccc;
		position: relative;
	    margin-bottom: 45px;
        margin-top: 40px;
		p {
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			top: -5px;
			font-size: 15px;
			text-transform: uppercase;
			width: 40px;
			background: $color-white;
		}
	}
}
@media all and (min-width: 1600px) {
	.sign_in {
		padding-top: 200px;
	}
}
.sign-in-form {
    width: 460px;
    padding: 90px 56px 78px;
    margin: auto;
	border: 1px solid $color-brown;
	background: $color-white;
}
.form_signin {
	label {
		display: block;
		text-align: left;
	    font-size: 11px;
	    letter-spacing: 1px;
		font-weight: 700;
		color: $color-brown;
		& + input {
			display: block;
			width: 100%;
			border: none;
			border-bottom: 1px solid #ccc;
			color: $color-black;
		    margin-top: 0;
		    font-weight: 500;
		    font-size: 14px;
		    line-height: 40px;
		    letter-spacing: 0.8px;
		    margin-bottom: 40px;
		}
	}
	.form_checkbox {
		display: block;
		font-weight: 400;
		color: $color-black;
		position: relative;
		font-size: 11px;
	    height: 20px;
    	margin-bottom: 23px;
		input {
			visibility: hidden;
			display: inline-block;
			width: 20px;
			margin-right: 5px;
		}
		.box-check {
			font-size: 14px;
			top: 0;
		}
	}
	p {
	    text-align: left;
		font-size: 13px;
		letter-spacing: -0.3px;
		line-height: 20px;
		margin-bottom: 6px;
		b {
			font-weight: 700;
			color: $color-brown;
		}
	}
}
.field-validation-error {
	display: block;
	width: 100%;
    color: red;
    font-size: 11px;
    line-height: 16px;
    height: 20px;
    margin-top: -30px;
    margin-bottom: 10px;	
    font-weight: 400;
    text-align: left;
}
.form_submit {
	border: none;
	width: 100%;
	background: $color-brown;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 25px;
	color: $color-white;
	padding: 25px 0;
}
.facebook-btn {
	width: 345px;
    margin: 34px auto;
    padding: 20px 0 24px;
    font-size: 13px;
    font-weight: 700;
	border: 1px solid $color-brown;
	color: $color-brown;
	cursor: pointer;
	i {
		font-size: 18px;
    	margin-right: 18px;
	}
}
.sign-up-btn {
	width: 315px;
    font-size: 15px;
	margin: auto;
    font-weight: 700;
    a {
    	color: $color-brown;
    	text-decoration: underline;
    }
    span {
    	margin-right: 10px;
    }
}
/* forgot password */
.page-forgot-password {
	.form_line {
		margin-top: 46px;
	}
}
.sign-in-btn {
	width: 350px;
	margin: auto;
	font-size: 15px;
	font-weight: 400;
    line-height: 30px;
    margin-top: -7px;
    a {
    	color: $color-brown;
    	text-decoration: underline;
    }
    span {
    	margin-right: 10px;
    }
}
/* sign up */
.form_signin {
	.form_half {
		width: 45%;
		display: inline-block;
		vertical-align: top;
	}
	.form_first {
		margin-right: 8%;
	}
}

@media all and (max-width: 993px) {
	.sign_in {
		padding-top: 30vw;
	    margin-bottom: 30vw;
		h1 {
			font-size: 7vw;
		    letter-spacing: 2vw;
    		margin: 0 0 15vw 2vw;
		}
		> a {
		    margin: 5vw 0;
    		font-size: 2.5vw;
		}
		> img {
			width: 30vw;
		}
		.container > a {
		    font-size: 3.5vw;
		    letter-spacing: 0;
		    margin: 8vw 0 10vw;
		}
		.form_line {
		    width: 45%;
		    margin-top: 10vw;
		    margin-bottom: 11vw;
			p {
			    font-size: 3.5vw;
			    width: 10vw;
			    top: -1.5vw;
			}
		}
	}
	.sign-in-form {
	    width: 80vw;
    	padding: 10vw 8vw;
	}
	.form_signin {
		label {
			font-size: 2vw;
			margin-bottom: 5vw;
			letter-spacing: 0;
			input {
				font-size: 2vw;
    			line-height: 7vw;
				margin-top: 2vw;
			}
			& + input {
			    font-size: 3.5vw;
			    line-height: 10vw;
			    letter-spacing: 0;
			    margin-bottom: 10vw;
			}
		}	

	}
	.form_submit {
    	padding: 4vw 0;
    	font-size: 3vw;
   	    letter-spacing: 0;
   		margin-top: 6vw;
	}
	.facebook-btn {
	    width: 50vw;
	    margin: 5vw auto;
	    padding: 3.5vw 0;
	    font-size: 2vw;
	    i {
    		font-size: 3vw;
    		margin-right: 4vw;
		}
	}
	.sign-up-btn {
    	width: 50vw;
    	font-size: 2.5vw;
    	span {
    		margin-right: 2.5vw;
    	}
	}

	/* sign up */

	.form_signin {
		.form_first {
			margin-right: 0;
			width: 100%;
		}
		.form_half {
			width: 100%;
		}
		.form_checkbox {
		    font-size: 3vw;
		    line-height: 5vw;
		    height: 12vw;
		    margin-bottom: 5vw;
		    padding-left: 10vw;
		    input {
		    	position: absolute;
		        /* width: 5vw;
    			margin-right: 4vw; */
		    }
		    .box-check {
		    	font-size: 3.5vw;
		    }
		}
		p {
			font-size: 3.2vw;
		    letter-spacing: 0;
		    line-height: 5vw;
		    margin-bottom: 2vw;
		}
	}	
	.sign-in-btn {
	    width: 80vw;
	    font-size: 3.5vw;
	    line-height: 7vw;
	    margin-top: 0;
		span {
			margin-right: 0;
		}
	}
}
