/* the page-curvy */ 

.page-curvy {
    background: $color-white;  
    position: relative;
    main {
    	padding: 100px 0 50px;
    }
}
@media all and (min-width: 1600px) {
	.page-curvy main {
		padding-top: 200px;
	}
}
.top-curvy {
	text-align: center;
	margin-bottom: 50px;
	h1 {
		font-size: 40px;
		font-weight: 200;
		margin-bottom: 39px;
		text-transform: uppercase;
	    letter-spacing: 9px;
    	margin-left: 9px;
	}
	p {
		font-size: 16px;
	    letter-spacing: 0.15px;
    	margin-right: 5px;
	}
}
.vision {
	text-align: center;
	font-size: 17px;
	color: $color-black;
}
.vision-block {
	background: url($image_dir + 'curvy/curvy_top.jpg');
	background-size: contain;
	background-position: top left;
	color: $color-white;
    padding: 80px 160px 57px;
    margin-bottom: 77px;
	h6 {
		text-transform: uppercase;
		font-weight: 700;
		color: #ca4c76;
		margin-bottom: 7px;
	}
	h2 {
		font-size: 60px;
		font-weight: 300;
		line-height: 72px;
		margin-bottom: 102px;
	}
	p {
		line-height: 32px;
		letter-spacing: 0;
	}
}
.vision-bottom {
    padding: 0 150px 91px;
    line-height: 32px;
    letter-spacing: -0.3px;
}
.wedding-gowns {
	background: $color-brown;
	color: $color-white;
	.container {
		padding: 87px 30px 60px 102px;
	}
	h2 {
		display: inline-block;
		vertical-align: top;
		font-size: 40px;
		width: 180px;
		margin-right: 108px;
	    line-height: 46px;
    	letter-spacing: -1px;
	}
	p {
		display: inline-block;
		vertical-align: top;
		width: 740px;
		font-size: 17px;
		line-height: 33px;
	    letter-spacing: -0.3px;
	}
}
.evening-wear {
	.container {
		padding: 110px 30px 120px 102px;
	}
	h2 {
		font-size: 40px;
	    line-height: 46px;
    	letter-spacing: -1px;
    	color: $color-red;
    	font-weight: 300;
    	margin-bottom: 43px;
	}
	strong {
		display: block;
		color: $color-red;
		letter-spacing: 0.2px;
	    margin-bottom: 34px;
	}
	p {
		display: inline-block;
		vertical-align: top;
		width: 565px;
		font-size: 17px;
		line-height: 33px;
	    letter-spacing: -0.32px;
	}
}
.wear-left {
	display: inline-block;
	vertical-align: top;
	width: 265px;
	margin-right: 208px;
	p {
		width: 100%;
		color: #ccc;
		font-weight: 500;
	}
}
.bridal-designers {
	background: #ebebeb;
	padding: 97px 0 75px;
	h2 {
		font-size: 40px;
	    line-height: 46px;
    	letter-spacing: -0.8px;
    	color: $color-red;
    	font-weight: 300;
    	margin-bottom: 61px;
    	text-align: center;
	}
}
.bridal-col {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	padding-right: 2px;
	&:last-child {
	    padding-right: 0;
    	padding-left: 48px;
	}
}
.bridal-col_mobile {
	display: none;
}
h2 + .bridal-col {
    padding-right: 79px;
}
.bridal-block {
	text-align: center;
	margin-bottom: 18px;
	h6 {
		font-size: 17px;
		text-decoration: underline;
		margin-bottom: 9px;
	    letter-spacing: -0.3px;
	}
	p {
		font-size: 11px;
		color: #9b9b9b;
	}
}
.evening-wear-designers {
	background: $color-white;
    padding: 89px 0 109px;
    h2 {
    	letter-spacing: -1px;
    	margin-bottom: 51px;
    }
}

@media all and (max-width: 1200px) {
	.vision-block {
		background-size: cover;
	    background-position: center center;
	}
	.wedding-gowns {
		h2 {
			margin-right: 40px;
		}
		p {
			width: 540px;
		}
	}
	.evening-wear p {
		width: 445px;
	}
	.wear-left {
		margin-right: 50px;
		p {
			width: 100%;
		}
	}
}

@media all and (max-width: 993px) {
	.page-curvy main {
		padding: 30vw 0 20vw;
	}
	.top-curvy {
	    margin-bottom: 23vw;
		h1 {
		    font-size: 8vw;
	    	letter-spacing: 1.6vw;
	    	margin-left: 1.5vw;
	    	margin-bottom: 11vw;
		}
		p {
		    font-size: 3.5vw;
		    margin: 0 4vw;
		    letter-spacing: 0.01vw;
		    line-height: 7.5vw;
		}
	}
	.vision {
	    font-size: 4vw;
	}
	.vision-block {
	    padding: 18vw 9vw 10vw;
	    margin-bottom: 13vw;
	    h6 {
    	    margin-bottom: 2.5vw;
	    }
	    h2 {
	    	font-size: 11vw;
    		line-height: 13.5vw;
	    	margin-left: 2vw;
	    	margin-bottom: 24vw;
	    }
	    p {
	        line-height: 7.5vw;
    		font-size: 3.5vw;
	    }
	}
	.vision-bottom {
		padding: 0 9vw 23vw;
		font-size: 3.5vw;
    	line-height: 7.6vw;
		letter-spacing: 0.15vw;
	}
	.wedding-gowns {
		.container {
			padding: 20vw 9vw 15vw;
		}
		h2 {
		    width: initial;
		    margin-right: 10vw;
		    margin-left: 1.5vw;
		    font-size: 9vw;
		    line-height: 10.5vw;
		    text-align: left;
		    letter-spacing: -0.1vw;
		    font-weight: 300;
		    margin-bottom: 12vw;
		}
		p {
			text-align: left;
		    width: initial;
		    font-size: 3.5vw;
		    letter-spacing: 0.11vw;
		    line-height: 7.6vw;
		    padding-left: 1.8vw;
		}
	}
	.evening-wear {
		.container {
		    padding: 19vw 10.5vw;
		}
		p {
			text-align: left;
			width: initial;
		    font-size: 4vw;
    		line-height: 7.5vw;
    		letter-spacing: -0.12vw;
		}
		strong {
		    font-size: 3.7vw;
    		letter-spacing: 0.04vw;
   		    margin-bottom: 8vw;
		}
	}
	.wear-left {
		width: initial;
		text-align: left;
		margin-right: 0;
	    margin-bottom: 8vw;
		h2 {
			font-size: 9vw;
		    margin-right: 12vw;
    		line-height: 10.5vw;
   		    margin-bottom: 10vw;
		}
	}
	.bridal-designers {
		padding: 22vw 0 20vw;
		h2 {
		    font-size: 9vw;
    		line-height: 10.5vw;
    		margin-bottom: 17.1vw;
    		padding: 0 5vw;
		}
	}
	h2 + .bridal-col {
		padding-right: 0;
	}
	.bridal-col {
		width: 49%;
		&:last-child {
			padding-left: 0;
			.bridal-col_mobile {
			    margin-top: 0;
    			margin-bottom: 6vw;
			}
		}
	}
	.bridal-middle {
		display: none;
	}
	.bridal-col_mobile {
		display: block;
		margin-top: 6vw;
	}
	.bridal-block {
	    margin-bottom: 3.65vw;
		h6 {
		    font-size: 3.8vw;
		    letter-spacing: -0.02vw;
		    margin-bottom: 2vw;
		    padding: 0 2vw;
    		line-height: 4.5vw;
		}
		p {
		    font-size: 2.5vw;
		}
	}
	.evening-wear-designers {
		padding: 17vw 0 2vw;
		h2 {
		    letter-spacing: -0.13vw;
		    margin-bottom: 14vw;
		}
		.bridal-col:last-child {
			display: none;
		}
	}
}