/* the page-contact */ 

.page-contact {
    background: $color-white;  
    position: relative;
    main {
    	padding: 126px 0 63px;/* 10vw 0 5vw */
    }
}
.top-contact {
	text-align: center;
	background-image: url($image_dir + 'contact/contact_bg.jpg');
	background-size: contain;
	background-position: 50% 50%;
	h1 {
		text-transform: uppercase;
		font-size: 3.2vw;
		font-weight: 200;
		letter-spacing: 0.67vw;
		margin: 0 0 3.1vw 0.7vw;
		///////////////////////
		font-size: 40px;
	    letter-spacing: 9px;
	    margin: 0 0 39px 8px;
	}
	p {
		font-size: 1.3vw;
		margin-right: 0.8vw;
		////////////////////
	    font-size: 16px;
	    letter-spacing: 0.2px;
	    margin-right: 10px;
	}
}
.contact-info {
	position: relative;
	width: 100%;
	height: 53vw;
	margin-top: 7vw;
	padding: 0 15vw;
	font-size: 0;
	////////////
    height: 665px;
    margin-top: 88px;
    padding: 0 155px;
}
.contact-left {
	width:47.5%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding-top: 87px;
	> div {
		margin-bottom: 72px;/* 5.7vw */
	}
	h2 {
		font-size: 2.2vw;
		font-weight: 200;
		letter-spacing: 0.05vw;
		text-transform: uppercase;
		margin-bottom: 3.8vw;
		/////////////////////
	    font-size: 28px;
	    letter-spacing: 0.8px;
	    margin-bottom: 48px;
	}
	p {
	    font-size: 1.28vw;
    	letter-spacing: 0.06vw;
	    margin-bottom: 1.4vw;
	    ////////////////////
	    font-size: 16px;
	    letter-spacing: 0.8px;
	    margin-bottom: 17px;
	}
	a {
		color: $color-brown;
		font-weight: 500;
		text-decoration: underline;
	}
}
.contact-right {
    position: relative;
    z-index: 1;
	width: 52.5%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid $color-brown;
	background: $color-white;
	font-family: $font-karla;
	text-align: left;
	label {
		display: block;
		font-size: 0.96vw;
		font-weight: 700;
		letter-spacing: 0.03vw;
		color: $color-brown;
		text-transform: uppercase;
		margin-bottom: 2.3vw;
		//////////////////////
	    font-size: 12px;
	    letter-spacing: 0.4px;
	    margin-bottom: 27px;
	}
	input, textarea {
		width: 100%;
		background: transparent;
		border: none;
		border-bottom: 1px solid #ccc;
		text-transform: none;
		font-size: 1.2vw;
		font-weight: 400;
		line-height: 3.45vw;
		letter-spacing: 0.01vw;
		color: $color-black;
		////////////////////
	    font-size: 15px;
	    letter-spacing: 0.1px;
	    line-height: 43px;
	} 
	textarea {
		border: none;
	    line-height: 2vw;
	    height: 9vw;
	    border-bottom: 1px solid #ccc;
	    margin-top: 0.6vw;
	    ///////////////////
	    line-height: 25px;
	    margin-top: 10px;
	    height: 113px;
	}
	button {
		display: block;
		width: 91%;
		background: $color-brown;
		border: none;
		font-size: 1.2vw;
		color: $color-white;
		padding: 2vw 0;
		margin: auto;
		//////////////
	    font-size: 15px;
    	padding: 25px 0;
	}
}
.in-form {
	padding: 7vw 7.5vw 0;
	// /////////////////
    padding: 86px 94px 0;
}
.switcher {
	position: relative;
	width: 100%;
	height: 4.5vw;
	padding-top: 1.8vw;
	margin: 2vw 0 1.1vw;
	////////////////
	margin: 25px 0 14px;
    padding-top: 24px;
    height: 60px;
	span {
		font-size: 15px;/* 1.22vw */
	}
	label {
		display: inline;
		float: right;
		cursor: pointer;
	}
	.checkbox {
	  vertical-align: top;
	  margin: 0 3px 0 0;
	  width: 38px;/* 3vw */
	  height: 38px;/* 3vw */
	}
	.checkbox:not(checked) {
	  position: absolute;
	  opacity: 0;
	}
	.checkbox:not(checked) + label {
	  position: absolute;
	  top: 1.6vw;
	  right: -0.1vw;
	  padding: 0 0 0 3.3vw;
	  /////////////////
	    top: 22px;
	    right: -1px;
	    padding: 0 0 0 42px;
	}
	.checkbox:not(checked) + label:before {
	  content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  width: 3.5vw;
	  height: 1.7vw;
	  border-radius: 1vw;
	  background: $color-black;
	  box-shadow: -8px 8px 30px rgba(0,0,0,0.3);
	  /////////////////////////
	    width: 44px;
	    height: 21px;
	    border-radius: 10px;
	}
	.checkbox:not(checked) + label:after {
	  content: '';
	  position: absolute;
	  top: 0.4vw;
	  left: 2vw;
	  width: 0.9vw;
	  height: 0.9vw;
	  border-radius: 50%;
	  background: #FFF;
	  box-shadow: 0 2px 5px rgba(0,0,0,.3);
	  transition: all .3s ease-out;
	  ////////////////////////
	    top: 5px;
	    left: 25px;
	    width: 11px;
	    height: 11px;
	}
	.checkbox:checked + label:before {
	    background: #ccc;/* #9FD468 */

	}
	.checkbox:checked + label:after {
	  left: 4px;/* 0.1vw */
	}
}
.under-form {
	width: 100%;
	background: #f5eeec;
	padding: 0 3vw 5.2vw;
	//////////////////
	padding: 0 38px 65px;
}
.captcha {
	width: 80%;
	height: 8vw;	
	margin: auto; 
	margin-bottom: 2.1vw;
	padding-top: 2.7vw;
	///////////////
    padding-top: 20px;
    margin-bottom: 24px;
    height: 101px;
}
.g-recaptcha {
	> div {
		margin: auto;
	}
}
.bottom-contact {
	margin-bottom: 74px;/* 6vw */
}
.contact-schedule {
	position: relative;
	height: 860px;/* 68.4vw */
}
.detail-box {
	position: absolute;
	top: 6.1vw;
	left: 14.9vw;
	display: block;
	width: 27.1vw;
	color: $color-white;
	/////////////////
    top: 77px;
    left: 155px;
    width: 342px;
	h2 {
		font-size: 2.1vw;
		font-weight: 200;
		letter-spacing: 0.14vw;
		margin-bottom: 3.8vw;
		////////////////////
	    font-size: 26px;
    	letter-spacing: 2px;
    	margin-bottom: 46px;
	}
	> p {
		font-size: 1.4vw;
	    line-height: 2.65vw;
    	margin-bottom: 3.3vw;
    	////////////////////
    	font-size: 17px;
	    letter-spacing: 0.3px;
	    line-height: 33px;
	    margin-bottom: 40px;
	}
}
.detail-table {
	width: 342px;/* 27.1vw */
	p {
		font-size: 1.4vw;
		margin-bottom: 1.25vw;
		overflow: hidden;
		///////////////
	    font-size: 17px;
    	margin-bottom: 16px;
        letter-spacing: 0.4px;
		span {
			display: inline-block;
			width: 50%;
			text-align: left;
			&:last-child {
				text-align: right;
				font-weight: 600;
			}
		} 
	}
}
.box-bottom {
	top: initial;
	bottom: 4.2vw;
	width: 32vw;
	////////////
    width: 404px;
    bottom: 54px;
	h2 {
		margin-bottom: 40px;/* 3.2vw */
	}
}
.box-right {
	top: initial;
	bottom: 10vw;
	left: initial;
	right: 17.6vw;
	width: 29vw;
	///////////
    width: 366px;
    bottom: 126px;
    right: 188px;
	> p {
		font-style: italic;
		margin-bottom: 0;
		margin-top: 42px;/* 3.3vw */
	}
	.detail-table {
		width: inherit;
	}
}
.contact-map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	.container {
		height: inherit;
		position: relative;
	}
}
#map {
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
	width: inherit;
}
.view_map_btn {
    position: absolute;
    padding: 1vw 2.5vw;
    background: #fff;
    left: 1.2vw;
    top: 0.8vw;
    color: #aa5844;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    //////////////////////
    padding: 13px 32px;
    font-size: 15px;
    letter-spacing: 1.3px;
    top: 10px;
    left: 14px;
}
.contact-appointment {
	margin-top: 28px;
	text-align: left;
	.container {
		padding: 0 154px;
	}
	h2 {
		font-size: 2.2vw;
	    font-weight: 200;
	    text-transform: uppercase;
	    letter-spacing: 0.06vw;
	    margin-bottom: 3.1vw;
	    /////////////////////
	    font-size: 28px;
	    letter-spacing: 0.8px;
	    margin-bottom: 38px;
	}
	p {
	    font-size: 1.3vw;
	    line-height: 2.7vw;
	    letter-spacing: 0.051vw;
	    ////////////////////////
	    font-size: 16px;
	    letter-spacing: 0.8px;
	    line-height: 32px;
	}
}

@media all and (max-width: 1200px) {
	.contact-info {
		padding: 0 50px;
	}
	.detail-box {
		left: 50px;
	}
	.box-right {
		left: initial;
		right: 50px;
	}
	.g-recaptcha > div {
		transform: scale(0.8);
		margin-left: -20px;
	}
}

@media all and (max-width: 993px) {
	.page-contact main {
		padding-top: 34.5vw;
		padding-bottom: 20vw;
	}
	.top-contact {
	    margin-bottom: 8vw;
	    background-image: url($image_dir + 'contact/contact_mobile_bg.jpg');
        background-position: 0 0;
		h1 {
		    font-size: 8vw;
		    letter-spacing: 1.6vw;
		    margin-left: 7vw;
		    margin-bottom: 8vw;
		}
		p {
		    font-size: 3.5vw;
			margin-right: 0.8vw;
			margin: 0 5vw;
			line-height: 7.5vw;
		}
	}
	.contact-info {
		padding: 0 3.5vw;
	    margin-top: 23.5vw;
	    height: inherit;
	}
	.contact-left {
		width: 100%;
		padding-bottom: 0;
		padding-left: 7.5vw;
		h2 {
			font-size: 6.5vw;
			margin-bottom: 9vw;
		}
		p {
			margin: 0;
		    letter-spacing: 0.25vw;
		}
		> div {
			margin-bottom: 15vw;
			&:last-child {
				margin-bottom: 10.5vw;
			}
		}
	}
	.contact-right {
		width: 100%;
		input, textarea {
		    font-size: 3.5vw;
    		line-height: 10vw;
		}
		textarea {
		    line-height: 6vw;
    		height: 26vw;
		}
		button {
			font-size: 3.4vw;
    		padding: 6vw 0;
		}
	}
	.in-form {
    	padding: 20.2vw 15.5vw 0;
    	label {
    		font-size: 2.6vw;
    		margin-bottom: 7vw;
    	}
	}
	.switcher {
		height: 20vw;
		margin-top: 11vw;
		padding-top: 8px;
		span {
			font-size: 3.3vw;
		}
	}
	.switcher .checkbox:not(checked) + label {
	    top: 0.6vw;
    	right: 1vw;
	}
	.switcher .checkbox:not(checked) + label:before {
	    top: 0;
	    right: 0;
	    border-radius: 20px;
	    width: 60px;
	    height: 30px;
	}
	.switcher .checkbox:not(checked) + label:after {
	    width: 20px;
	    height: 20px;
	    top: 5px;
	    left: 15px;
	}
	.switcher .checkbox:checked + label:after {
		left: -12px;
	}
	.under-form {
		background: $color-white;
	    padding: 0 4vw 14.2vw;
	}
	.captcha {
    	margin-bottom: 12vw;
    	padding-top: 0vw;
	}
	.g-recaptcha > div {
		transform: scale(1.5);
		margin-left: auto;
	}
	.contact-schedule {
		height: 209vw;
	}

	.detail-box {
	    left: 0;
	    top: 27vw;
	    width: 100%;
	    padding: 0 12.5vw 0 10vw;
	    text-align: left;
		h2 {
		    font-size: 5.5vw;
		    letter-spacing: 0.4vw;
		    margin-bottom: 10.2vw;
		}
	}
	.detail-table {
		width: 100%;
		p {
			font-size: 4vw;
			line-height: 5vw;
    		margin-bottom: 2.6vw;
    		span:last-child {
    			font-size: 3.8vw;
    		}
		}
	}
	.box-bottom {
		top: initial;
		bottom: 8vw;
		h2 {
		    margin-bottom: 9vw;
		}
		> p {
			font-size: 4vw;
		    line-height: 7.6vw;
		    margin-bottom: 8.7vw;
		    width: 108%;
		}
	}
	.box-right {
		top: initial;
	    bottom: -87vw;
	    color: black;
	    width: 100%;
	    left: 0;
	    padding-left: 10.5vw;
	    padding-right: 11vw;
	    text-align: left;
	    > p {
	        font-size: 3.9vw;
		    line-height: 7.5vw;
		    margin-top: 9vw;
	    }
	    span:last-child {
			display: none;
		}
	}
	.view_map_btn {
	    font-size: 4vw;
	    left: 10.5vw;
	    top: 5.5vw;
	    padding: 2.7vw 7vw;
	    letter-spacing: 0.01vw;
	}
	.contact-appointment {
	    margin: 102vw 9vw 0 10.5vw;
	    .container {
	    	padding: 0;
	    }
	    h2 {
	        font-size: 6vw;
    		letter-spacing: 0.43vw;
    		margin-bottom: 9.3vw;
	    }
	    p {
	        font-size: 4vw;
		    letter-spacing: 0.03vw;
		    line-height: 7.5vw;
	    }
	}
}
@media all and (max-width: 550px) {
	.captcha {
		margin-bottom: 12vw;
	}
	.g-recaptcha > div {
		transform: scale(0.8);
	}
	.switcher label {
		transform: scale(0.8);
	}
}
@media all and (max-width: 450px) {
	.detail-box h2 {
		font-size: 5vw;
	}
	.detail-table p {
		font-size: 3.5vw;
		span:last-child {
			font-size: 3.5vw;
		}
	}
	.g-recaptcha > div {
		margin-left: -20px;
	}
}
@media all and (max-width: 330px) {
	.g-recaptcha > div {
		transform: scale(0.6) translateX(-26px);
		margin-left: -30px;
	}
	.switcher label {
		transform: scale(0.6);
	}
}