/* the page-testimonials */ 

.page-testimonials {
    background: $color-white;  
    position: relative;
    main {
    	padding: 126px 0 63px;
    }
}
@media all and (min-width: 1600px) {
	.page-testimonials main {
		padding-top: 200px;
	}
}
.top-testimonials {
	text-align: center;
	.container {
		border-bottom: 1px solid #ccc;
	}
	h1 {
		text-transform: uppercase;
		font-size: 40px;
		font-weight: 200;
	    letter-spacing: 9px;
	    margin: 0 0 30px 8px;
	}
	p {
	    font-size: 16px;
	    letter-spacing: 0.1px;
	    margin: 0 100px;
    	line-height: 32px;
	}
}
.testimonials-main {
	position: relative;
	margin: 100px 40px 75px;
	text-align: left;
	font-size: 16px;
	line-height: 60px;
	span {
		font-size: 19px;
		text-transform: uppercase;
	    margin-left: 10px;
    	letter-spacing: 3.8px;
	}
	a {
		float: right;
		color: $color-black;
		padding: 20px 28px;
		border: 1px solid $color-black;
		line-height: normal;
	}
}
.main-reviews {
	text-align: center;
	position: absolute;
	top: 5px;
	left: 7px;
	right: 0;
	margin: auto;
	.fa {
		font-size: 48px;
		margin-right: 10px;
		color: $color-brown;
	}
	b {
	    font-weight: 200;
	    text-align: center;
	    text-transform: uppercase;
	    display: block;
	    line-height: 20px;
	    margin-top: -1px;
	    letter-spacing: 3.5px;
	    font-size: 16px;
	}
}
.testimonials-content {
	.container {
		font-size: 0;
	}
	.pages-counter ul {
	    margin: 98px 0 77px;
	}
}
.review-block {
	display: inline-block;
	vertical-align: top;
	margin-top: 115px;
	margin-bottom: 5px;
	width: 393px;
	font-size: 16px;
	text-align: center;
	padding: 0 45px;
	h3 {
		font-size: 21px;
		letter-spacing: -0.1px;
	    margin: 28px 0 36px;
    	line-height: 32px;
	}
	p {
		line-height: 32px;
	}
	a {
		font-weight: 700;
		display: block;
		text-transform: uppercase;
		color: $color-brown;
	    letter-spacing: 1px;
    	margin: 10px 0 38px;
	} 
	span {
		display: block;
		letter-spacing: 0.4px;
	}
	.author {
		font-size: 21px;
	}
	.review-date {
		color: #ccc;
		text-transform: uppercase;
		margin-top: 17px;
	}
	&:nth-child(3n+1) {
		padding-right: 60px;
		padding-left: 20px;
		p {
			letter-spacing: 0.2px;
		}
	}
	&:nth-child(3n) {
		padding-right: 20px;
    	padding-left: 60px;
	}
}
.top-star {
	font-size: 28px;
}
@media all and (max-width: 1200px) {
	.testimonials-main {
		margin-right: 0;
		margin-left: 0;
	}
	.review-block {
		width: 300px;
		padding: 0 20px;
		&:nth-child(3n+1) {
			padding-right: 30px;
		}
		&:nth-child(3n) {
			padding-right: 0;
			padding-left: 30px;
		}
	}
}
@media all and (max-width: 993px) {
	.page-testimonials main {
		padding: 35vw 0 20vw;
	}
	.top-testimonials {
		h1 {
		    font-size: 8.5vw;
		    letter-spacing: 1.3vw;
		    margin: 0 0 11vw 1vw;
		}
		p {
		    font-size: 3.5vw;
		    line-height: 7.5vw;
		    letter-spacing: -0.01vw;
		    margin: 0 8vw;
		}
	}
	.testimonials-main {
		text-align: center;
		margin: 18.5vw 0 13vw;
		span {
			display: block;
		    font-size: 4.5vw;
		    letter-spacing: 0.8vw;
		    margin-left: 0.5vw;
		    margin-bottom: 38vw;
		}
		a {
			display: block;
			float: none;
			width: 52vw;
			margin: auto;
		    font-size: 3.7vw;
    		padding: 4.5vw 0;
		}
	}
	.main-reviews {
		top: 16vw;
		left: 1vw;
		.fa {
		    font-size: 12vw;
    		margin-right: 1.7vw;
		}
		b {
		    font-size: 4vw;
		    letter-spacing: 0.6vw;
		    line-height: 5vw;
		    margin-top: 1.5vw;
		}
	}
	.review-block {
		text-align: center;
		width: 100%;
		padding: 0 10vw;
		margin-top: 20vw;
	    font-size: 3.5vw;
	    &:first-child {
	    	margin-top: 12vw;
	    }
		&:nth-child(3n+1),&:nth-child(3n) {
			padding: 0 12vw;
		}
		h3 {
		    font-size: 4.8vw;
			letter-spacing: -0.02vw;
			line-height: 7.5vw;
			margin: 6.3vw 0 8vw;
		}
		p {
		    line-height: 7.5vw;
	        letter-spacing: 0.25vw;
		}
		a {
		    letter-spacing: 0.4vw;
    		margin: 2vw 0 9vw;
		}
		span {
    		letter-spacing: 0;
		}
		.author {
			font-size: 5vw;
		}
		.review-date {
			margin-top: 4vw;
		}
	}
	.top-star {
		font-size: 6.5vw;
	}
	.testimonials-content .pages-counter ul {
		margin: 20vw 0 0;
	}
}