/* the page-my-account */ 

.page-my-account {
    background: $color-white;  
    position: relative;
    main {
    	padding: 100px 0 50px;
    }
}
@media all and (min-width: 1600px) {
	.page-my-account main {
		padding-top: 200px;
	}
}
.account-top {
	text-align: center;
	margin-bottom: 60px;
	h1 {
		font-size: 40px;
		font-weight: 200;
		margin-bottom: 39px;
		text-transform: uppercase;
	    letter-spacing: 8.5px;
    	margin-left: 5px;
	}
	p {
		font-size: 16px;
	    letter-spacing: 0.15px;
    	margin-right: 5px;
	}
}
.account-main {
	 margin-bottom: 345px;
	.container {
		font-size: 0;
	}
}
.account-sidebar {
	display: inline-block;
	vertical-align: top;
	width: 260px;
	text-align: left;
	li {
		margin-bottom: 11px;
		&.active {
			font-weight: 700;
		}
	}
	a {
		font-size: 14px;
	    letter-spacing: -0.5px;
		text-transform: uppercase;
		color: $color-black;
	}
}
.account-content {
	display: inline-block;
	vertical-align: top;
	width: 920px;
	text-align: left;
	p {
		font-size: 14px;
	    letter-spacing: -0.1px;
	} 
}
.start-shopping {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: $color-white;
	background: $color-brown;
	padding: 25px 35px;
	margin-top: 90px;
}

/* order history */
.account-history .account-main {
	margin-bottom: 0;
}
.table-history {
	margin-top: 61px;
	width: 642px;
	li {
		text-align: center;
		margin-bottom: 36px;
		span {
			font-size: 14px;
			color: $color-black;
			&:nth-child(2) {
				float: left;
			}
			&:last-child {
				float: right;
			}
		}
	}
}
.table-header {
	text-transform: uppercase;
	font-weight: 700;
	font-family: $font-raleway;
	span {
		&:nth-child(2) {
			margin-right: -5px;
		}
		&:last-child {
			margin-right: 18px;
		}
	}
}
.order-item {
	font-family: $font-opensans;
	a {
		color: $color-brown;
		text-decoration: underline;
		margin-right: 13px;
	}
}
.history-navigation {
	width: 222px;
    margin: 140px auto 90px;
    margin-left: 222px;
	a {
		color: $color-green;
		font-size: 19px;
		i {
		    margin-left: 28px;
		    font-size: 40px;
		    vertical-align: top;
		    margin-top: -10px;
		}
		span {
			display: inline-block;
		}
		&.active span {
			text-decoration: underline;
		}
		&.non-active {
			color: #585858;
			opacity: 0.3;
			i {
				opacity: 0.3;
			}
		}
	}
	.history-prev {
		margin-right: 22px;
		i {
			float: left;
		    margin-left: 0;
    		margin-right: 28px;
		}
	}
}

/* account info */
.account-info {
	form {
		font-size: 16px;
	}
}
.input-group {
	margin-bottom: 35px;
	position: relative;
}
.field-name {
	font-size: 14px;
	font-weight: 700;
	margin-right: 15px;
}
.field-content {
    letter-spacing: -0.3px;
    margin-right: 28px;
}
.half-group {
	display: inline-block;
	width: 160px;
	margin-right: 10px;
	margin-bottom: 7px;
	label {
		font-size: 14px;
		font-weight: 700;
	}
}
.pass-dots {
	font-weight: 700;
}
.form-control {
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	width: 100%;
}
.btn-link {
	color: $color-brown;
	text-decoration: underline;
	&:hover {
		text-decoration: underline;
	}
}
.account-content button {
	display: block;
	font-size: 13px;
	font-weight: 700;
	color: $color-white;
	background: $color-brown;
	border: none;
	padding: 25px 58px;
	margin-top: 70px;
}
.popover {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -10px;
    z-index: 12;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    line-break: auto;
    > .arrow {
        position: absolute;
	    display: block;
	    width: 0;
	    height: 0;
	    bottom: -21px;
	    border-color: transparent;
	    border-style: solid;
        border-width: 11px;
        border-top-color: rgba(0,0,0,.25);
        &:after {
            content: "";
    		border: 10px solid transparent;
            position: absolute;
		    display: block;
		    width: 0;
		    height: 0;
            bottom: 1px;
		    margin-left: -10px;
		    border-top-color: #fff;
		    border-bottom-width: 0;
        }
    }
    button {
    	height: 40px;
    	display: inline-block;
    	margin-left: 10px;
    	margin-top: 0;
    	padding: 0 20px;
    }
    .close-popover {
		background: #ccc;
		color: $color-black;
		margin-left: 50px; 
	}
	&.fade {
	    opacity: 0;
	    transition: opacity .15s linear;
	}
	&.fade.in {
		opacity: 1;
	}
}
.popover-title {
	background: #eee;
	padding: 5px 10px; 
}
.popover-content {
	margin: 10px 10px 20px;
	p {
		label {
			display: block;
			font-weight: 700;
			color: $color-brown;
			margin-bottom: 15px;
		}
		input {
			width: 100%;
			border: none;
			border-bottom: 1px solid #ccc;
			padding: 5px 0;
			margin-bottom: 25px;
		}
		select {
			width: 100%;
			border: none;
			border-bottom: 1px solid #ccc;
			margin-bottom: 40px;
		}
	} 
}
////////////////
.span_mobile {
	display: none;
}

@media all and (max-width: 1200px) {
	.account-content {
		width: 640px;
	}
}

@media all and (max-width: 993px) {
	.page-my-account main {
		padding: 28vw 0 20vw;
	}
	.account-main {
		margin-bottom: 20vw;
	}
	.account-top {
		margin-bottom: 20vw;
		h1 {
		    font-size: 8vw;
			margin-bottom: 9vw;
			letter-spacing: 1.2vw;
			margin-left: 0; 
		}
		p {
		    font-size: 3.5vw;
		    letter-spacing: 0;
		    margin-right: 0;
		}
	}
	.start-shopping {
		width: 90vw;
		margin: 20vw 5vw 0;
		font-size: 3.5vw;
	    text-align: center;
    	padding: 6vw 0; 
	} 
	.account-sidebar {
		display: none;
	}
	.account-content {
		width: 100%;
		p {
		    font-size: 3.2vw;
    		text-align: center;
		}
	}
	
	/* order history */
	.account-history {
		.account-top {
			margin-bottom: 5vw;
		}
		.account-content {
			padding: 0 4.5vw;
			p {
				line-height: 6vw;
				text-align: left;
			}
		}
	}
	.table-history {
	    width: 100%;
    	margin-top: 12.5vw;
    	li {
    		text-align: left;
    	    padding-bottom: 4vw;
    		border-bottom: 0.1vw solid #ccc;
    		margin-bottom: 7vw;
    		span {
    			display: block;
    			font-size: 3.2vw;
    			margin-bottom: 2.7vw;
    			&:nth-child(2),	&:last-child {
    				float: none;
    			}
    		}
    	}
	}
	.table-header {
		display: none;
	}
	.span_mobile {
		display: block;
		text-transform: uppercase;
		font-weight: 700;
	}
	.history-navigation {
		width: 50vw;
		margin: 17vw 0 0 20vw;
		text-align: center;
		a {
		    font-size: 4.5vw;
		    i {
		        font-size: 7vw;
			    margin-left: 5vw;
			    margin-top: -1vw;
		    }
		}
		.history-prev {
			margin-right: 6vw;
			i {
			    margin-right: 5vw;
			}
		}
	}

	/* acccout info */
	.form-group {
		padding: 0 4.5vw;
	}
	.input-group {
		font-size: 3.1vw;
		margin-bottom: 8.5vw;
	}
	.field-name {
		font-size: 3.1vw;
		font-weight: 400;
		margin-right: 4vw;
	}
	.field-content {
    	letter-spacing: 0.3vw;
    	margin-right: 6vw;
	}
	.half-group {
		width: 36vw;
		margin-right: 4vw;
	    margin-bottom: 1.5vw;
		label {
			font-size: 3.1vw;
			font-weight: 400;
		    margin-bottom: 0;
    		display: block;
		}
	}
	.form-control {
		padding: 3.5vw 0;
	}
	.account-content button {
	    width: 92vw;
		margin-left: 4vw;
		font-size: 3.3vw;
		padding: 6vw 0;
		margin-top: 16vw;
	}
	.popover {
		button {
			width: initial;
		    margin-left: 10px;
		    margin-top: 0;
		    padding: 0 20px;
		    font-size: 18px;
		}
	}
	.popover-title {
		font-size: 2.5vw;
	}
	.popover-content p {
		label {
			text-align: left;
		}
	}
}
@media all and (max-width: 480px) {
	.popover button {
		font-size: 3.2vw;
	}
}