/* the page-404 */ 

.page-404 {
    background: $color-white;  
    position: relative;
    main {
    	padding: 100px 0 50px;
    }
}
@media all and (min-width: 1600px) {
	.page-my-account main {
		padding-top: 200px;
	}
}
.error {
	text-align: center;
	margin-bottom: 60px;
	background: url($image_dir + 'error/404.jpg');
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	h1 {
		font-size: 44px;
		font-weight: 700;
		margin-bottom: 60px;
		text-transform: uppercase;
	    letter-spacing: 3px;
    	margin-left: 5px;
	    padding-top: 74px;
	}
	p {
		font-size: 20px;
		font-weight: 700;
		font-style: italic;
	    letter-spacing: 0;
    	margin-right: 5px;
	}
}
.error-top {
	height: 30vw;
}
.some-data {
	width: 100%;
	/* margin-top: 180px; */
    padding: 0 180px;
    overflow: hidden;
}
.some-item {
    width: 44%;
    display: inline-block;
    float: left;
    margin-bottom: 73px;
    &:nth-child(3n+2) {
		width: 30%;
	}
    &:nth-child(3n) {
        width: 12%;
    	float: right;
    }
	li {
		font-family: $font-opensans;
		font-size: 14px;
		color: $color-black;
		text-align: left;
	    letter-spacing: 0.5px;
    	margin-bottom: 16px;
		&:first-child {
			font-weight: 700;
		}
	}
}

/* 505 */
.error-505 {
	margin-top: 50px;
	background-image: url($image_dir + 'error/505.jpg');
	border-top: 2px solid #ccc;
	.error-top {
		height: 75vw;
		width: 510px;
	    margin-left: 60px;
	    text-align: left;
	}
	h1 {
	    padding-top: 38px;
		line-height: 60px;
		margin-bottom: 45px;
	}
	p {
		line-height: 30px;
		margin-bottom: 37px;
	}
	span {
		font-size: 14px;
		line-height: 30px;
	}
}


@media all and (max-width: 1200px) {
	.error {
		h1 {
			font-size: 34px;
			margin-bottom: 40px;
		}
		p {
			font-size: 17px;
		}
	}
	.some-item:nth-child(3n) {
		width: 16%;
	}
	.error-505 .error-top {
		width: 370px;
	}
}

@media all and (max-width: 993px) {
	.page-404 main {
		padding: 15vw 0 10vw;
	}
	.error {
		background-image: url($image_dir + 'error/404_mobile.jpg');
		h1 {
		    font-size: 11vw;
    		padding: 10vw 10vw 0;
    		line-height: 14vw;
    	    letter-spacing: 0.1vw;
    		margin-left: 0;
    		margin-bottom: 10vw;
		}
		p {
		    margin-right: 0;
		    padding: 0 16vw;
		    font-size: 4vw;
		    letter-spacing: 0.1vw;
		    line-height: 8vw;
		}
	}
	.error-top {
    	height: initial;
	}
	.some-data {
		padding: 0 10vw;
		margin-top: 26vw;
	}
	.some-item {
		width: 100%!important;
		margin-bottom: 8vw;
		li {
		    font-size: 4vw;
		    letter-spacing: 0.1vw;
		    margin-bottom: 4vw;
		}
	}

	/* 505 */
	.error-505 {
		margin-top: 6vw;
		background-image: url($image_dir + 'error/505_mobile.jpg');
		border: none;
		.error-top {
			width: 100%;
			height: 170vw;
			margin: 0;
		}
		h1 {
		    padding: 10vw 4vw 0;
    		letter-spacing: 0.7vw;
		}
		p {
		    padding: 0 4vw;
    		letter-spacing: 0.3vw;
    		margin-bottom: 8vw;
		}
		span {
		    font-size: 3.5vw;
		    padding: 0 4.2vw;
		    line-height: 7vw;
		    display: block;
		    letter-spacing: -0.06vw;
		}
	}
}