/* the page-dresses */ 

.page-dresses {
    background: $color-white;  
    position: relative;
}
.breadcrumbs {
	padding: 102px 0 33px;/* 8vw 0 2.7vw */
}
.breadcrumbs-line {
	p {
		font-size: 12px;/* 1vw */
		font-weight: 400;
		letter-spacing: 0;/* -0.07vw */
		color: $color-red;
		a {
			color: $color-red;
		}
		span {
			color: #a2a2a2;
		}
	}
}
@media all and (min-width: 1200px) {
	.breadcrumbs {
		padding-top: 200px;
	}
}
.product-item {
	.container {
		border-bottom: 1px solid $color-black;
		padding-bottom: 54px;/* 4.1vw */
	}
}
.product-main {
	margin-bottom: 78px;/* 6vw */
}
.product-item_left {
	position: relative;
	display: inline-block;
	width: 37%;
	margin-bottom: 32px;/* 2.5vw */
	img {
		width: auto;
		height: 100%;
	}
}
.product-shows {
	width: 85%;
    margin-left: 15%;
}
.show_1, .show_2, .show_3, .show_4 {
	display: none;
    width: 100%;
    height: 510px;/* 40.21vw */
    overflow: hidden;
    &.active {
    	display: block;
    }
}
.product-thumbs {
	position: absolute;
	left: 0;
	top: 0;
	/* height: 9.5vw; */
	li {
		width: 3.5vw;
 		height: 4.5vw;
 	    background-size: 100%;
	    background-position: 50% 10%;
	    border: 1px solid;
	    margin-bottom: 0.3vw;
	    //////////////////
	    width: 44px;
	    height: 58px;
	    margin-bottom: 4px;
	    &:last-child {
		    background-size: 120%;
	    	background-position: 45% 20%;
		}
		&.active {
		    box-shadow: 0 0 0 2px #000;/* inset  */
		}
	}
}
.product_share {
    margin-top: 10px;/* 0.8vw */
    margin-left: 23%;/* 15% */
    text-align: center;
	p {
		font-size: 12px;/* 0.9vw */
		span {
			margin-right: 13px;
			vertical-align: bottom;/* 1vw */
		}
		a {
			color: $color-black;
		}
		.fa {
		    font-size: 1.5vw;
		    margin-right: 1.5vw;
		    margin-top: 0.9vw;
		    /////////////////
		    font-size: 20px;
		    margin-right: 20px;
		    margin-top: 12px;
		}
		.pinterest_circle {
			width: 1.823vw;
			display: inline-block;
			margin-bottom: -0.3vw;
			/////////////////////
		    width: 23px;
    		margin-bottom: -4px;
		}
	}
}
.product_share-mobile {
	display: none;
}
.product-item_right {
	display: inline-block;
	vertical-align: top;
	width: 62.5%;
	padding-left: 3.8%;
	font-weight: 400;/* 200 */
	letter-spacing: 1px;
	h4 {
		font-size: 1.5vw;
		margin-bottom: 0.7vw;
		//////////////////
	    font-size: 19px;
    	margin-bottom: 11px;
	}
	h3 {
		font-size: 2vw;
		margin-bottom: 1.1vw;	
		/////////////////////
	    font-size: 26px;
    	margin-bottom: 14px;
	}
	h6 {
		font-size: 1vw;
		margin-bottom: 1.5vw;
		///////////////////
	    font-size: 14px;
    	margin-bottom: 18px;
	}
	h5 {
		font-size: 20px;/* 1.5vw */
		font-weight: 700;
		color: $color-black;
	}
}
.sizes-wrapper {
	margin-top: 2.6vw;
	margin-bottom: 2vw;
	//////////////////
    margin-top: 32px;
    margin-bottom: 26px;
	p {
		font-size: 1.1vw;
		margin-bottom: 0.85vw;
		/////////////////////
	    font-size: 15px;
    	margin-bottom: 10px;
	}
	> p > span {
	    width: 20px;
	    height: 15px;
	    overflow: hidden;
	    display: inline-block;
	}
}
.sizes {
	font-size: 0;
	/* height: 46px; */
	font-family: $font-opensans;
	font-weight: 600;
	li {
		position: relative;
		display: inline-block;
		/* float: left; */
		width: 5.7vw;
	    padding: 1.15vw 0;
	    border: 1px solid $color-black;
	    text-align: center;
	    margin-right: 0.43vw;
	    font-size: 1.3vw;
	    cursor: pointer;
	    ////////////////
	    width: 72px;
	    margin-right: 4px;
	    padding: 14px 0;
    	font-size: 16px;
    	margin-bottom: 10px;
	    &:last-child {
	    	margin-right: 0;
	    }
		&.active {
			box-shadow: inset 0 0 0 2px rgba(0,0,0,1);
		}
		&.disable {
			cursor: not-allowed;
			background: #eee;
			.line {
				position: absolute;
				top: -19px;
				border-top: 1px solid #ccc;
				left: -8px;
				width: 86px;
				transform: rotate(32deg);
			}
		}
		&:hover {
			background: #eee;
			.no-product {
				display: block;
			}
		}
	}
	.no-product {
		display: none;
		width: 150px;
		position: absolute;
		top: 100%;
		left: -38px;
		margin-top: 10px;
		padding: 5px 10px;
		border: 1px solid #ccc;
		background-color: #fff;
		font-family: $font-raleway;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.5em;
		z-index: 10;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: -6px;
			left: 50%;
			margin-left: -6px;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			background-color: #fff;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
		}
	}
} 
.colors {
	margin-bottom: 1.7vw;
	////////////////////
    margin-bottom: 21px;
	h6 {
		font-size: 1.13vw;
		margin-bottom: 0.8vw;
		//////////////////
	    font-size: 15px;
    	margin-bottom: 9px;
	}
}
.color-spin {
	position: relative;
	width: 2.7vw;
	height: 2.7vw;
	display: inline-block;
	border-radius: 50%;
	border: 2px solid rgba(255,255,255,0);/* #969696 */
	background: $color-white;
	margin-right: 0.47vw;
	cursor: pointer;
	///////////////
	width: 34px;
    height: 34px;
    margin-right: 4px;
	&.active {
		border-color: $color-black;
	}
	&.disable {
		cursor: not-allowed;
		.line {
			position: absolute;
			top: -26px;
			border-top: 2px solid #ccc;
			left: 1px;
			width: 30px;
			transform: rotate(45deg);
			border-radius: 50%;
		    border-bottom: none;
		    height: initial;
		    z-index: 10;
		}
	}
	&:hover .no-product {
		display: block;
	}
	.no-product {
		display: none;
		width: 150px;
		position: absolute;
		top: 100%;
		left: -60px;
		margin-top: 10px;
		padding: 5px 10px;
		border: 1px solid #ccc;
		border-radius: 0;
		background-color: #fff;
		font-weight: 600;
		font-size: 14px;
		line-height: 1.5em;
		z-index: 10;
		height: initial;
		transform: rotate(0);
		text-align: center;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: -6px;
			left: 50%;
			margin-left: -6px;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			background-color: #fff;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
		}
	}
	span {
		position: relative;
		width: 2.3vw;
		height: 2.3vw;
		display: block;
		border-radius: 50%;
	    border-top: 1.15vw solid $color-black;
		border-bottom: 1.15vw solid;
		transform: rotate(-90deg);
		///////////////////////
		width: 44px;
	    height: 44px;
	    border-width: 22px;
	}
	svg {
		display: block;
		transform: scale(1.2);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		overflow: overlay;
	}
	.black-white {
		border-bottom-color: $color-white;
	}
	.black-red {
		border-bottom-color: #ff0000;
	}
	.black-yellow {
		border-bottom-color: #ffff00;
	}
}
.quantity-wrapper {
	margin-bottom: 27px;/* 2.15vw */
	h6 {
		font-size: 1.13vw;
		margin-bottom: 0.9vw;
		/////////////////////
		font-size: 15px;
    	margin-bottom: 10px;
	}
	p {
		color: $color-green;
	    font-size: 0.83vw;
		font-weight: 600;
		letter-spacing: 0.06vw;
		//////////////////////
	    font-size: 11px;
    	letter-spacing: 1px;
	}
}
.quantity {
	display: inline-block;
    border: 1px solid #000;
    overflow: hidden;
    font-family: $font-opensans;
    font-weight: 600;
    margin-bottom: 23px;/* 1.8vw */
	div {
	    width: 2.3vw;
	    height: 2.75vw;
	    background: #000;
	    color: #fff;
	    font-size: 14px;
	    cursor: pointer;
	    float: left;
	    text-align: center;
	    position: relative;
	    //////////////////
	    width: 30px;
    	height: 35px;
    	line-height: 35px;
	}
	input {
		float: left;
	    border: none;
    	width: 3.6vw;
    	height: 2.75vw;
    	font-size: 1.2vw;
    	text-align: center;
    	/////////////////
    	width: 46px;
    	height: 33px;
    	font-size: 15px;
	}
	input::-webkit-outer-spin-button {
	    -webkit-appearance: none;
	    -moz-appearance: none;
    	appearance: none;
	    margin: 0;
	}
	input::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    -moz-appearance: none;
    	appearance: none;
	    margin: 0;
	}
	input[type=number] {
  		-moz-appearance: textfield;
	}
}
.product-buttons {
	width: 260px;/* 20.3vw */
	a {
		display: block;
		font-size: 0.83vw;
		font-weight: 700;
		text-transform: uppercase;
		width: 100%;
		background: #ccc;
		color: $color-black;
		text-align: center;
		padding: 1.1vw 0;
		margin-bottom: 0.5vw;
		letter-spacing: 0.07vw;
		transition: all 0.3s ease-out;
		//////////////////////////
	    font-size: 10px;
	    letter-spacing: 1.2px;
	    padding: 14px 0;
	    margin-bottom: 7px;
		&.active, &:hover {
			color: $color-white;
			background: $color-black;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}  
.product-description {
	color: $color-black;
	h3 {
		font-size: 2vw;
		font-weight: 200;
	    letter-spacing: 0.1vw;
		margin-bottom: 1.8vw;
		///////////////////
	    font-size: 24px;
	    letter-spacing: 2.2px;
	    margin-bottom: 23px;
	}
	p {
	    font-size: 1.1vw;
	    font-weight: 400;
	    line-height: 1.35vw;
	    letter-spacing: 0.058vw;
	    /////////////////////
	    font-size: 14px;
    	letter-spacing: 0.75px;
    	line-height: 17px;
	    span {
	    	&:first-child {
	    		display: inline;
	    	}
	    	&:last-child {
	    		display: none;
	    	}
	    }
	}
	a {
	    margin-top: 1.35vw;
    	display: block;
		font-size: 1.1vw;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: underline;
		color: $color-black;
		/////////////////////
	    font-size: 15px;
    	margin-top: 16px;
	}
}
.product-slider {
	.container {
		padding: 3.9vw 0 4.7vw;
		margin-bottom: 7vw;
		border-bottom: 1px solid $color-black;
		//////////////////////////////////
	    padding: 50px 0 62px;
    	margin-bottom: 87px;
	}
}
.product-slider_title {
	font-size: 2vw;
	font-weight: 200;
	letter-spacing: 0.11vw;
	margin-bottom: 2.8vw;
	////////////////////
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 36px;
}
.product-slider_content {
    .slick-arrow {
		top: 7.6vw;
		left: 0.74vw;
		height: 5.5vw;
		width: 3.8vw;
		background: $color-white;
		border: none;
		transform: rotate(0);
		////////////////////
	    width: 48px;
	    height: 70px;
	    top: 98px;
	    left: 9px;
		span {
			display: block;
			width: 1.5vw;
			height: 1.5vw;
			border-bottom: 2px solid $color-black;
			border-right: 2px solid $color-black;
			transform: rotate(135deg);
			position: absolute;
		    top: 0;
		    bottom: 0;
		    right: 0;
		    left: 0.5vw;
		    margin: auto;
		    ///////////////
		    width: 18px;
		    height: 18px;
		    left: -6px;
		}
	}
	.slick-next {
		left: inherit;
		right: 7px;/* 0.54vw */
		transform: rotateY(180deg);
	}
}
.product-slider_item {
    padding: 0px 0.6vw;
    margin: 0 0.15vw;
    /////////////////
    margin: 0 2px;
    padding: 0 8px;
	img {
		width: 100%;
	}
}
.product-img-link {
	display: block;
	width: 100%;
	height: 270px;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}
.select-options {
	display: none;
}
.product-slider_info {
	font-size: 15px;/* 1.2vw */
    /* padding-bottom: 0.1vw; */
	h6 {
	    margin: 1.2vw 0 0.54vw;
	    letter-spacing: 0.01vw;
	    //////////////////////
	    letter-spacing: 0.3px;
    	margin: 15px 0 7px;
	}
	p {
		color: #6d6d6d;
	}
}
.product-slider_info-colors {
	margin: 1.1vw 0 1.4vw;
	//////////////////////
    margin: 13px 0 17px;
	span {
		display: inline-block;
		width: 1.6vw;
		height: 1.6vw;
		border-radius: 50%;
		margin-right: 0.5vw;
		////////////////////
	    width: 20px;
	    height: 20px;
	    margin-right: 6px;
	}
	.color {
		padding-top: 5px;
	}
}
.color-red {
	background: #dd3333;
}
.color-brown {
	background: #ba6d09;
}
.color-black {
	background: #0a0a0a;
}
.color-white {
	box-sizing: content-box;
	background: $color-white;
	border: 1px solid #b1b1b1;
	margin-bottom: -1px;
}
.color-blue {
	background: #769ec1;
}

/////////////////////////////
.carousel {
	overflow: hidden;
	.main-photo {
		width: calc(100% - 100px);
		float: left;
		margin-left: 10px;
	}
	.item-list {
		float: left;
	}
	.item-list.scrollable {
		position: relative;
		max-height: 480px;
		height: 480px;
		width: 90px;
		overflow: hidden;
		button.top,
		button.bottom {
			position: absolute;
			left: 0;
			right: 0;
			width: 78px;
			height: 30px;
			border: none;
			outline: none;
			background-color: rgba(255,255,255,.7);
			text-align: center;
			z-index: 50;
			i.fa {
				font-size: 30px;
			}
		}
		button.top {
			top: 0;
		}
		button.bottom {
			bottom: 0;
		}
		.carousel-indicators {
			position: absolute;
			top: 0;
			transition: all .3s ease;
		}
	}
}
.carousel-inner {
	.item {
		height: 480px;
		position: relative;
		display: none;
		&.active {
			display: block;
		}
		.MagicZoom {
			height: 100%;
			width: 100%;
		}
	}
	img {
		max-width: 100%!important;
	    object-fit: cover;
    	object-position: center;
	}
}
.carousel-indicators {
	position: relative;
	left: inherit;
	bottom: inherit;
	width: 100%;
	margin: 0;
	li {
		border: 0px solid transparent;
		margin: 0 0 5px;
		width: 78px;
		height: 100px;
		background-color: transparent;
		background-size: cover;
		background-position: top center;
		border-radius: 0;
		cursor: pointer;
		&.active {
			box-shadow: inset 0 0 0 2px $color-brown;
		}
	}
}
.mz-figure.mz-click-zoom {
	height: 100%;
	width: 100%;
}
.mz-zoom-window.mz-inner {
	height: 480px!important;
	a {
		display: none!important;
	}
}
.mz-hint {
	display: none;
}
////////////////////////////

@media all and (max-width: 1200px) {
	.sizes {
		li {
		    margin-bottom: 10px;
		}
	}
	////////////////////////
	.carousel-inner .item {
		height: 350px;
	}
	.mz-zoom-window.mz-inner {
		height: 350px!important;
	}
	.carousel .item-list.scrollable {
		min-height: 350px;
		height: 350px;
	}
	.product-img-link {
		height: 205px;
	}
}

@media all and (max-width: 993px) {
	.page-dresses main {
		padding: 0 3.8vw;
	}
	.breadcrumbs {
		margin-top: 19vw;
	}
	.breadcrumbs-line p {
		font-size: 2.6vw;
		text-align: left;
	}
	.product-thumbs {
		display: none;
	}
	.product-main {
    	margin-bottom: 21vw;
	}
	.product_share {
		display: none;
	}
	.product_share-mobile {
	    display: block;
	    width: 100%;
	    margin-top: 9vw;
	    margin-left: 0;
    	p {
    		font-size: 3.5vw;
    		.fa {
			    font-size: 6.5vw;
			    margin-right: 7.5vw;
			    margin-top: 0;
			}
			.pinterest_circle {
			    width: 7.0vw;
			    margin-bottom: -1.0vw;
		        margin-left: -2.5vw;
			}
			span {
			    margin-right: 5vw;
    			margin-left: -2vw;
    		    vertical-align: top;
			    margin-top: 2vw;
			    display: inline-block;
			}
    	}
	}
	.product-shows {
		width: 100%;
    	margin-left: 0;
		li {
			height: inherit;
		}
	}
	.product-item_left {
		width: 100%;
	    margin-bottom: 4.4vw;
	}
	.product-item_right {
		width: 100%;
		text-align: left;
		padding-left: 0;
		font-weight: 200;
	    letter-spacing: 0.2vw;
		h4 {
			font-size: 5.3vw;
			margin-bottom: 2.3vw;
		}
		h3 {
		    font-size: 7.35vw;
		    margin-bottom: 3.5vw;
		}
		h6 {
		    font-size: 3.5vw;
		    margin-bottom: 5vw;
		}
		h5 {
    		font-size: 5.2vw;
		}
	}
	.sizes-wrapper {
    	margin-top: 5.5vw;
    	margin-bottom: 3vw;
    	p {
		    font-size: 3.5vw;
		    margin-bottom: 2.2vw;
		}
	}
	.sizes-wrapper > p > span {
		width: 4.5vw;
		height:	3.5vw;
	}
	.sizes {
		li {
		    width: 18.7%;
		    padding: 3.45vw 0;
		    margin-right: 1.6%;
		    font-size: 4.0vw;
		    margin-bottom: 2.5vw;
			&.disable .line {
			    width: 20vw;
			    top: 3.7vw;
			    left: -1.6vw;
			    border-width: 2px;
			}
		}
		.no-product {
		    width: 170%;
		    left: -35%;
		    font-size: 2.8vw;
		    top: 103%;
		    &:before {
		        width: 2vw;
			    height: 2vw;
			    top: -1.2vw;
			    margin-left: -1.2vw;
		    }
		}
	}
	.color-spin {
		transform: scale(1.5);
		margin-right: 6.5vw;
		margin-top: 0vw;
		/////////////////
		margin-bottom: 4vw;
		&.disable .line {
			width: 30px;/* 3.7vw */
		    top: 0.3vw;
		    left: 0;
		}
	}
	/* .black-white {
		margin-left: 2vw;
	} */
	.colors {
    	margin-bottom: 6.8vw;
	}
	.quantity-wrapper {
		margin-bottom: 10vw;
		h6 {
			margin-bottom: 4.25vw;
		}
		p {
			font-size: 3.65vw;
		}
	}
	.quantity {
		margin-bottom: 10vw;
		div {
	    	width: 9.3vw;
	    	height: 11.1vw;
	    	font-size: 4vw;
    		line-height: 11.1vw;
		}
		input {
		    width: 14.5vw;
		    height: 11.1vw;
		    font-size: 5vw;
		}
	}
	.product-buttons {
	    width: 100%;
		a {
			margin-bottom: 2vw;
			font-size: 3.85vw;
			padding: 4.3vw 0;
		}
	}
	.product-description {
		text-align: left;
		h3 {
			font-size: 5.5vw;
			font-weight: 200;
			letter-spacing: 0.44vw;
			margin-bottom: 5.2vw;
		}
		p {
			font-size: 3vw;
			line-height: 3.9vw;
			letter-spacing: 0.25vw;
			span {
				&:first-child {
					display: none;
				}
				&:last-child {
					display: inline;
				}
			}
		}
		a {
		    margin-top: 3.9vw;
    		font-size: 3.3vw;
		}
	}
	.product-item {
    	padding-bottom: 15.6vw;
	}
	.product-slider {
		padding-top: 11vw;
	    padding-bottom: 18vw;
	    margin-bottom: 0;
	}
	.product-slider_title {
	    font-size: 6vw;
	    letter-spacing: 0.2vw;
	    margin-bottom: 7.2vw;
	    text-align: left;
	}
	.product-slider_item {
    	padding: 0px 1.6vw;
	}
	.product-slider_content {
		.slick-arrow {
		    top: 19.2vw;
		    left: 1vw;
		    height: 13.5vw;
		    width: 7.4vw;
		    span {
		    	width: 4vw;
		    	height: 4vw;
		    	left: 0;
		    }
		}
		.slick-next {
			right: 1vw;
			left: inherit;
		}
	}
	.product-slider_info {
		text-align: left;
		h6 {
			font-size: 4.3vw;
			margin-bottom: 1.9vw;
		}
		p {
			font-size: 3.5vw;
		}
		.select-options {
			display: block;
			font-size: 2.7vw;
			text-transform: uppercase;
			text-decoration: underline;
			margin-top: 2.4vw;
			color: $color-black;
		}
	}
	.product-slider_info-colors {
    	margin: 3vw 0 2.5vw;
		span {
		    width: 4vw;
		    height: 4vw;
		    margin-right: 2vw;
		    margin-bottom: 0;
		    ////////////
		    height: 30px;
		    transform: scale(1);
		}
		.color {
			padding-top: 7px;
		}
		.color-container > div {
			height: 40px;
		}
	}
	////////////////////////////
	.carousel .item-list.scrollable {
		display: none;
	}
	.carousel .main-photo {
		width: 100%;
		margin: 0;
	}
	.carousel-inner .item {
		height: 130vw;
	}
	.mz-zoom-window.mz-inner {
		height: 130vw!important;
	}
	.mz-hint {
		display: block;
	}
	.product-img-link {
		height: 54vw;
	}
}
@media all and (max-width: 481px) {
	.color-spin {
		transform: scale(0.8);
		margin-right: 0;
		margin-top: -2.8vw;
	}
	/* .black-white {
		margin-left: 0;
	} */
	.colors {
    	margin-bottom: 3vw;
	}
	.color-spin.disable .line {
	    width: 7vw;
    	top: 1.7vw;
	}
	.product-slider_info-colors .color {
    	padding-top: 13px;
	}
	.product-slider_info-colors span {
	    width: 32px;
	    height: 32px;
	    padding: 1px;
	    margin-right: -1vw;
	    transform: scale(0.8);
	}
}
@media all and (max-width: 362px) {
	.sizes .no-product {
		font-size: 2.7vw;
	}
	.color-spin.disable .line {
    	width: 8vw;
    	top: 2.1vw;
	}
}
@media all and (max-width: 359px) {
	.color-spin {
		transform: scale(0.65);
		margin-right: -3vw;
		margin-top: -4.5vw;
	}
	/* .black-white {
		margin-left: -3vw;
	} */
	.colors {
    	margin-bottom: 1vw;
	}
	.sizes .no-product {
		font-size: 2.5vw;
		margin-top: 7px;
	}
	.color-spin.disable .line {
    	width: 9vw;
    	top: 2.7vw;
	}
	.product-slider_info-colors .color-container > div {
		height: 25px;
	}
	.product-slider_info-colors .color {
    	padding-top: 13px;
	}
	.product-slider_info-colors span {
	    transform: scale(0.6);
    	margin-right: -4vw;
	}
}