/* the page-brides */ 

.page-brides {
    background: $color-white;  
    position: relative;
    main {
    	padding: 100px 0 50px;
    }
}
@media all and (min-width: 1600px) {
	.page-brides main {
		padding-top: 200px;
	}
}
.top-brides {
	text-align: center;
	margin-bottom: 50px;
	h1 {
		font-size: 40px;
		font-weight: 200;
		margin-bottom: 40px;
		text-transform: uppercase;
	    letter-spacing: 8.5px;
    	margin-left: 5px;
	}
	p {
		font-size: 16px;
	    letter-spacing: 0.15px;
    	margin-right: 5px;
	}
}
.mob-aside {
	display: none;
}
.brides-sidebar {
	width: 22%;
	float: left;
}
.sidebar-search {
	width: 100%;
	margin-bottom: 50px;
	form {
		width: 100%;
		position: relative;
		input {
			padding: 7px 28px;
			font-size: 14px;
			letter-spacing: -0.2px;
			line-height: 18px;
			border: none;
		}
		button {
			position: absolute;
			top: 0;
			left: 0; 
			width: 20px;
			height: 32px;
		    margin: 0;
		    padding: 0;
		    border: none;
		    background: url($image_dir + 'home/search.png');
		    background-size: contain;
		    background-position: 0 50%;
		    background-repeat: no-repeat;
		    filter: brightness(54%);	
		}
	}
}
.categories {
	h5 {
		text-transform: uppercase;
		font-weight: 700;
		cursor: pointer;
	    font-size: 14px;
    	margin-bottom: 11px;
	}
	li {
	    margin-bottom: 9.1px;
		&:hover a {
			color: $color-brown;
			font-weight: 700;
		}
	}
	a {
		color: $color-black;
		font-size: 13px;
	    letter-spacing: 0.2px;
	}
	.close {
		display: none;
	}
}
.latest-posts {
	margin-top: 35px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.2px;
}
.latest-post {
    padding-right: 35px;
	margin-top: 35px;
	img {
		width: 70px;
		float: left;
	}
	h5 {
		margin-left: 82px;
	    line-height: 25px;
	    margin-top: -2px;
	    font-size: 13.5px;
	}
	p {
		margin-left: 82px;
		font-size: 11px;
		font-weight: 400;
		margin-top: 7px;
	}
	.close {
		display: none;
	}
}
.brides-content {
	.pages-counter ul {
	    margin-left: 0;
	    margin-top: 150px;
	    margin-bottom: 90px;
	}
}
.all-brides {
	width: 78%;
	float: left;
	padding-top: 5px;
}
.brides-post {
	font-size: 0;
	margin-bottom: 60px;
	padding-top: 60px;
	border-top: 1px solid #ccc;
	&:first-child {
		padding-top: 0;
		border: none;
	}
	img {
		width: 100%;		
	}
}
.brides-img {
	position: relative;
	border: 6px solid $color-white;
	width: 500px;
	display: inline-block;
	vertical-align: top;
	box-shadow: -5px 5px 20px rgba(0,0,0,0.2);
}
.brides-social {
	position: absolute;
	bottom: 16px;
	right: 0;
	a {
		display: inline-block;
		margin-right: 20px;
	}
}
.brides-info {
	display: inline-block;
	width: calc(100% - 500px);
	vertical-align: top;
	font-size: 16px;
    padding: 10px 15px 30px 28px;
    span {
    	display: block;
    	text-transform: uppercase;
    	font-size: 14px;
    	color: #acacac;
    	letter-spacing: -0.2px;
    }
    h3 {
    	font-size: 27px;
    	font-weight: 200;
    	margin: 36px 0 32px;
        line-height: 38px;
    	letter-spacing: 0.4px;
    }
    p {
        line-height: 26px;
    	letter-spacing: 0.2px;
    }
    a {
    	display: block;
        text-transform: uppercase;
	    font-size: 16px;
	    font-weight: 700;
	    color: $color-brown;
	    letter-spacing: 1.4px;
	    margin-top: 16px;
    }
}
@media all and (max-width: 1200px) {
	.latest-post {
		img {
			width: 60px;
		}
		h5 {
			font-size: 12px;
			line-height: 18px;
			margin-left: 70px;
		}
		p {
			margin-left: 70px;
		}
	}
	.brides-img {
		width: 350px;
	}
	.brides-info {
		width: calc(100% - 350px);
	}
}
@media all and (max-width: 993px) {
	.page-brides main {
		padding: 35vw 0 36vw;
	}
	.top-brides {
		margin-bottom: 12.5vw;
		h1 {
		    font-size: 8.5vw;
		    letter-spacing: 1.3vw;
		    margin: 0 0 11vw 1vw;
		}
		p {
		    font-size: 3.5vw;
		    line-height: 7.5vw;
		    letter-spacing: 0.11vw;
		    margin: 0 8vw;
		}
	}
	.brides-sidebar {
		width: 100%;
	}
	.mob-aside {
		display: block;
		font-size: 0;
		text-transform: uppercase;
		border-top: 1px solid;
		border-bottom: 1px solid;
		margin-bottom: 5.5vw;
		p {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			font-size: 4vw;
			letter-spacing: 0.05vw;
			text-align: left;
			padding: 3.4vw 0 3.5vw 9vw;
			&:first-child {
				border-right: 1px solid;
				padding: 3.4vw 0 3.5vw 13.5vw;
			}
		}
	}
	.sidebar-search form {
		width: initial;
		margin: 0 4vw 8vw;
	   	border: 1px solid #ccc;
   	    padding-bottom: 2px;
		input {
			width: 100%;    
			font-size: 3.5vw;
			line-height: 5vw;
		    padding: 5.2vw 2vw 4vw 13vw;
		    letter-spacing: 0.1vw;
		}
		button {
		    width: 6vw;
		    height: 8vw;
		    bottom: 0;
		    margin: auto;
		    left: 4vw;
		}
	}
	.categories {
		display: none;
		width: 100%;
		height: 100%;
		overflow: auto;
		position: fixed;
		top: 0;
		left: 0;
		padding-bottom: 5vw;
		z-index: 100;
		background: $color-white;
		h5 {
		    font-size: 5vw;
		    margin-top: 10vw;
		    margin-bottom: 5vw;
		}
		li {
		    margin-bottom: 3vw;
		}
		a {
			font-size: 3.5vw;
			letter-spacing: 0.1vw;
		}
		.close {
			display: block;
			width: 4vw;
			height: 4vw;
			position: absolute;
			top: 3vw;
			right: 3vw;
			background: url($image_dir + 'home/btn_close.png');
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}
	} 
	.latest-posts {
		display: none;
		width: 100%;
		height: 100%;
		overflow: auto;
		position: fixed;
		top: 0;
		left: 0;
		padding-bottom: 5vw;
		margin-top: 0;
		z-index: 100;
		background: $color-white;
		h5 {
		    font-size: 5vw;
		    margin-top: 10vw;
		    margin-bottom: 5vw;
		}
		h5 + div {
    		margin-bottom: 10vw;
    	}
		.close {
			display: block;
			width: 4vw;
			height: 4vw;
			position: absolute;
			top: 3vw;
			right: 3vw;
			background: url($image_dir + 'home/btn_close.png');
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	.latest-post {
		padding: 0 8vw;
    	margin: 8vw 0 15vw;
    	text-align: left;
		img {
			width: 20vw;
		}
		h5 {
			font-size: 3vw;
			line-height: 5vw;
			margin-left: 30vw;
		}
		p {
			font-size: 2vw;
    		margin-left: 30vw;
			margin-top: 1vw;
		}
	}
	.all-brides {
		width: 100%;
	}
	.brides-post {
		margin-bottom: 10vw;
	    padding: 7vw 3.5vw 0;
	}
	.brides-img {
		width: 100%;
		border-width: 1.2vw;
		margin-top: 43vw;
    	height: 63vw;
	}
	.brides-social {
		bottom: 2.5vw;
		a {
			margin-right: 4vw;
		}
		img {
			width: 7vw;
		}
	}
	.brides-info {
		width: 100%;
		padding: 0 7vw;
		text-align: left;
		font-size: 3.5vw;
		span {
		    margin-top: -95.5vw;
		    font-size: 3vw;
		    letter-spacing: 0.07vw;
		}
		h3 {
		    font-size: 6vw;
		    font-weight: 300;
		    line-height: 9vw;
		    letter-spacing: 0.13vw;
		    margin: 8vw 0 76vw;
		}
		p {
			line-height: 6.2vw;
    		letter-spacing: 0.1vw;
		}
		a {
			font-size: 3.7vw;
		    letter-spacing: 0.2vw;
		    margin-top: 3.7vw;
		}
	}
	.brides-content .pages-counter ul {
		margin: 15vw 0;
	}
}