/* the page-checkout-account */ 

.page-checkout-account {
    background: $color-white;  
    position: relative;
    main {
    	position: relative;
    }
}
.bg-right_grey {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: rgba(170,88,68,0.03);
	z-index: -1;
}
.checkout-account {
	padding-top: 40px;
	.container {
		position: relative;
		font-size: 0;
		padding-bottom: 100px;
	}
}
.checkout-left, .checkout-right {
	display: inline-block;
	width: 50%;
	min-height: 1px;
	vertical-align: top;
}
.checkout-left {
    padding-right: 154px;
}
.steps-line {
	padding-bottom: 32px;
    border-bottom: 2px solid;
	p {
		font-family: $font-opensans;
		font-size: 14px;
		letter-spacing: 0;
		line-height: 24px;
		color: #83888a;
	}
}
.line-open {
	color: $color-black;
	font-weight: 700;
}
.line-done {
	color: $color-brown;
}
.top-left_logo {
	margin-bottom: 66px;
	img {
	    width: 418px;
	    margin-top: 3px;
	}
}
.step {
	border-bottom: 1px solid $color-black;
	font-family: $font-opensans;
	text-align: left;
	padding: 26px 0 24px;

	h2 {
		font-size: 29px;
		font-weight: 300;
		span {
			display: inline-flex;
			border: 3px solid $color-black;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			margin-right: 10px;
			align-items: flex-start;
			justify-content: center;
			b {
				font-size: 30px;	
				font-weight: 600;
			}
		}
	}
	h6 {
	    font-size: 14px;
	    font-weight: 700;
	    margin-top: 35px;
	    letter-spacing: 0.2px;
	    margin-bottom: 8px;
	}
	p {
	    font-size: 14px;
	    line-height: 20px;
	    letter-spacing: 0.2px;
	}
}
.step-open {
	padding-bottom: 43px;
    padding-top: 31px;
}
.reg-or-not {
    margin-top: 21px;
    margin-bottom: 43px;
	label {
		position: relative;
		display: block;
		font-size: 14px;
		margin-top: 10px;
	    letter-spacing: 0.4px;
	    cursor: pointer;
	}
	input {
		margin-right: 10px;
    	visibility: hidden;
	}
	button {
	    font-size: 14px;
	    background: $color-brown;
	    border: none;
	    padding: 16px 35px;
	    font-weight: 700;
	    margin-top: 10px;/* 36px */
	    color: $color-white;
	}
}
.radio-check {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%; 
  &:before {
    content: '';
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
input[type=radio]:checked ~ .radio-check {
  border-color: $color-brown; 
}
input[type=radio]:checked ~ .radio-check:before {
  background: $color-brown;
}
.returning-customer {
	margin-top: 20px;
	input {
		width: 100%;
		padding: 6px 9px 8px;
		background: $color-white;
		font-size: 14px;
		margin-bottom: 10px;
	    border: 1px solid #777;
	}
	button {
		display: block;
	    font-size: 14px;
	    background: $color-brown;
	    border: none;
	    padding: 16px 35px;
	    font-weight: 700;
	    margin-top: 16px;
	    color: $color-white;
	}
}
.checkout-right {
	font-family: $font-opensans;
	width: 590px;
    position: fixed;
	text-align: right;
	padding-top: 215px;
}
.order-pool {
	height: 300px;
	overflow: auto;
	padding-right: 10px;
}
.order-element {
	margin-bottom: 50px;
}
.order-img {
	vertical-align: top;
	display: inline-block;
	width: 33%;
}
.order-info {
	vertical-align: top;
	display: inline-block;
	width: 56%;
	font-size: 14px;
	text-align: left;
	padding-left: 37px;
	p {
		margin-bottom: 7px;
		letter-spacing: 0.2px;
	}
	span {
		float: right;
	}
	.detail {
		height: 238px;
		/* padding-bottom: 77px; */
		border-bottom: 1px solid;	
		.mob {
			display: none;
		}
		.mob-color {
			color: $color-brown;
		}
	}
}
.order-price {
	font-size: 14px;
	width: 275px;
    margin-left: 290px;
	.subtotal {
		padding: 46px 0 28px;
		border-bottom: 1px solid;
		p {
			margin-bottom: 13px;
			text-align: left;
			span {
				float: right;
			}
		}
	}
	.total {
		font-weight: 700;
		padding-top: 41px;
		font-size: 16px;
		p {
			text-align: left;
			span {
				float: right;
			}
		}
	}
}
.checkout-bottom {
  width: 100%;
  margin-top: 350px;
  padding-top: 25px;
  border-top: 2px solid #cdcdcd; 
	p {
	    text-align: left;
	    font-size: 14px;
	    color: #6a6a6a;
	}
}

/* billing */
.step-done {
	h2 {
		color: $color-brown;
		span {
			border-color: $color-brown;
		}
	}
}
.billing-form {
	margin-top: 24px;
	input, select {
		width: 100%;
		padding: 6px 9px 8px;
		background: $color-white;
		font-size: 14px;
		margin-bottom: 10px;
	    border: 1px solid #777;
	}
	button {
		display: block;
	    font-size: 14px;
	    background: $color-brown;
	    border: none;
	    padding: 16px 35px;
	    font-weight: 700;
	    margin-top: 21px;
	    color: $color-white;
	}
	label {
		position: relative;
		display: block;
		font-size: 14px;
		margin-top: 14px;
	    letter-spacing: -0.2px;
	    cursor: pointer;
	    input {
	    	visibility: hidden;
	    	width: 20px;
	    	margin-right: 6px;
	    }
	}
}
.personal-data {
	input {
		width: 50px;
		margin: 0 12px 10px;
		&:first-child, &:last-child {
			width: 180px;
			margin: 0;
		}
		&:nth-child(2) {
			width: 50px;
		}
		&:last-child {
			float: right;
		}
	}
}
.country {
	input {
		width: 180px;
		float: right;
	}
}
.jq-selectbox__select {
	width: 235px;
	height: 35px;
	margin-bottom: 10px;
    border: 1px solid #777!important;
    background: transparent;
    border-radius: 0;
    font-family: $font-opensans;
	font-size: 14px;
    &:hover {
    	background: transparent;
    }
}
.jq-selectbox__select-text {
	width: 100%!important;
}
.jq-selectbox__trigger-arrow {
	border: none;
	top: 5px;
	width: 12px;
	height: 12px;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	transform: rotate(45deg);
}
.jq-selectbox__trigger {
	border: none;
}
.jq-selectbox__dropdown {
	border-radius: 0;
	font-family: $font-opensans;
	font-size: 14px;
}
.jq-selectbox li.selected {
	background: transparent;
	color: $color-black;
}
.jq-selectbox li:hover {
	background: $color-brown;
}
.state {
    overflow: hidden;
    width: 100%;
	margin-bottom: 20px;
	input {
		width: 235px;
		&:last-child {
			width: 180px;
			float: right;
		}
	}
}
.box-check {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  &:before {
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: $color-white;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
input[type=checkbox]:checked ~ .box-check {
  border-color: $color-brown; 
}
input[type=checkbox]:checked ~ .box-check:before {
  background: $color-brown;
}

/* payment */
.payment-form {
	margin-top: -11px;
	h6 {
		margin-bottom: 26px;
	}
	input, select {
		width: 100%;
		padding: 6px 9px 8px;
		background: $color-white;
		font-size: 14px;
		margin-bottom: 10px;
	    border: 1px solid #777;
	}
	button {
		width: 100%;
		display: block;
	    font-size: 15px;
	    background: $color-brown;
	    border: none;
	    padding: 15px 35px;
	    font-weight: 700;
	    margin-top: 20px;
	    color: $color-white;
	}
	label {
		position: relative;
		display: block;
		font-size: 14px;
		line-height: 18px;
		margin-top: 44px;
	    letter-spacing: 0.2px;
	    cursor: pointer;
	    input {
	    	visibility: hidden;
	    	width: 20px;
	    	margin-right: 6px;
	    }
	}
	.country {
		input {
			width: 180px;
			float: right;
		}
	}
	.state input {
		width: 235px;
		&:last-child {
			width: 180px;
		}
	}
}
.payment-btn {
	margin-bottom: 23px;
	button {
		display: inline-block;
		width: 213px;
		height: 50px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-size: 87px;
		background-color: transparent;
	    background-position: 50% 50%;
    	background-repeat: no-repeat;
    	margin-top: 5px;
    	&:last-child {
    		float: right;
    	}
	}
}
.shipping {
    margin-top: -19px;
    margin-bottom: 34px;
	b {
		position: absolute;
		top: 0;
		left: 180px;
		font-weight: 400;
	}
	i {
		float: right;
	}
}
.more_shipping {
	display: block;
	font-size: 14px;
	letter-spacing: 0.2px;
	color: $color-brown;
	text-decoration: underline;
	margin-bottom: 42px;
}
.date {
	margin-bottom: 7px;
	> div {
		width: 55%;
		&:last-child {
			width: 42%;
			float: right;
		}
	}
	.jq-selectbox__select {
		width: 100%;
	}
}
.secure {
	margin-bottom: -13px;
	input {
		width: 125px;
		margin-right: 12px;
	}
}
.hint {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-top: 8px;
	vertical-align: top;
	background: $color-brown;
	border-radius: 50%;
	color: $color-white;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
	&:hover em {
		display: block;
	}
	em {
		display: none;
		position: absolute;
	    width: 300px;
	    border: 2px solid $color-brown;
	    background: #fff;
	    color: #000;
	    bottom: 37px;
	    left: -137px;
	    z-index: 100;
	    text-align: left;
	    padding: 10px;
	    font-weight: 400;
	    &:after {
	    	content: '';
	    	display: block;
	    	position: absolute;
	    	bottom: -8px;
	    	left: 141px;
	    	width: 13px;
	    	height: 13px;
	    	background: $color-white;
	    	border-bottom: 2px solid $color-brown;
	    	border-right: 2px solid $color-brown;
	    	transform: rotate(45deg);
	    }
	}
}
.promo {
	margin-top: -16px;
	input {
		width: 215px;
	}
	button {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 40px;
		height: 35px;
		margin-left: 10px;
		margin-top: 0;
		padding: 0;
		span {
			position: absolute;
			top: 11px;
			left: 12px;
			width: 12px;
			height: 12px;
			border-right: 2px solid $color-white;
			border-bottom: 2px solid $color-white;
			transform: rotate(-45deg);
		} 
	}
}


@media all and (max-width: 1200px) {
	.step h2 {
    	font-size: 23px;
    	span {
    	    width: 30px;
		    height: 30px;
		    margin-right: 8px;
    		border-width: 2px;
    		b {
			    font-size: 20px;
			    line-height: 26px;
			}
    	}
	}
	.checkout-right {
		width: 450px;
	}
	.personal-data input {
		width: 45px;
    	margin: 0 10px 10px;
		&:first-child, &:last-child {
			width: 115px;
		}
	}
	.country input {
		width: 125px;
	}
	.jq-selectbox__select {
		width: 160px;
	}
	.state input {
		width: 160px;
		&:last-child {
			width: 125px;
		}
	}
	.personal-data input:nth-child(2) {
    	width: 45px;
	}
	.payment-form .country input, .payment-form .state input:last-child {
		width: 125px;
	}
	.payment-form .state input {
		width: 160px;
	}
	.shipping b {
		left: 110px;
	}
	.payment-btn button {
		width: 140px;
	}
	.order-info {
		width: 64%;
	}
	.order-pool {
		height: 220px;
	}
	.order-info .detail {
		height: 178px;
	}
	.order-price {
    	width: 230px;
    	margin-left: 190px;
	}
}

@media all and (max-width: 993px) {
	.bg-right_grey {
		display: none;
	}
	.checkout-left {
		display: block;
		width: 100%;
		padding: 0 4vw;
	    margin-bottom: 13vw;
	}
	.checkout-account {
		padding: 3vw 0 0;
		.container {
			padding-bottom: 0;
		}
	}
	.top-left_logo {
		margin-bottom: 11vw;
		img {
		    width: 63vw;
		    margin-top: 0;
		    margin-left: 1vw;
		}
	}
	.steps-line {
		padding-bottom: 10vw;
		p {
			font-size: 2.9vw;
		}
	}
	.step {
		padding-top: 5vw;
		padding-bottom: 5.5vw;
		h2 {
		    font-size: 6vw;
		    line-height: 8vw;
    		letter-spacing: 0.1vw;
			span {
			    width: 9vw;
			    height: 9vw;
			    vertical-align: top;
			    border-width: 0.7vw;
			    margin-right: 2vw;
				b {
					font-size: 6vw;
    				line-height: 8vw;
				}
			}
		}
		h6 {
		    font-size: 3vw;
		    margin-top: 7vw;
		    margin-bottom: 2vw;
		}
		p {
		    font-size: 3vw;
    		line-height: 4vw;
		}
	}
	.step-open {
		padding-top: 5vw;
		padding-bottom: 9.5vw;
	}
	.reg-or-not {
		margin-top: 6vw;
		margin-bottom: 9vw;
		label {
		    font-size: 3vw;
		    line-height: 6vw;
		    margin-top: 5vw;
		}
		input {
			margin-right: 8vw;
		}
		button {
			font-size: 3vw;
		    margin-top: 1.5vw;
		    width: 100%;
		    font-weight: 600;
		    padding: 3.5vw 0;
		}
	}
	.radio-check {
	    width: 6.5vw;
	    height: 6.5vw;
	    border-width: 0.7vw;
	    &:before {
	        width: 3.2vw;
    		height: 3.2vw;
	    }
	}
	.returning-customer {
		margin-top: 5vw;
		input {
		    font-size: 3vw;
    		padding: 1vw 2vw 2vw;
		    margin-bottom: 2.7vw;
		}
		button {
		    font-size: 3.1vw;
		    font-weight: 600;
		    margin-top: 3vw;
		    width: 100%;
		    padding: 3.5vw 0;
		}
	}
	.checkout-right {
		position: relative;
		display: block;
		width: 100%;
		padding: 12vw 4vw 0;
		background: rgba(170,88,68,0.03); 
	}
	.order-img {
		position: absolute;
		left: 0;
		top: 12vw;
		width: 50%;
		padding: 0 
		4vw;
	}
	.order-info {
		width: 100%;
		font-size: 3vw;
		padding-left: 0;
		padding-bottom: 29vw;
		.detail {
		    width: 100%;
		    padding-left: 53.5%;
		    padding-bottom: 24vw;
		    p:first-child span {
		    	display: none;
		    }
			.mob {
				display: block;
			}   
		}
    	p {
    		margin-bottom: 1.7vw;
    	}
    	.subtotal {
   		    padding: 10vw 0 6vw;
   		    p {
   		    	margin-bottom: 3vw;
   		    }
    	}
    	.total {
    	    font-size: 3.5vw;
    		padding-top: 8vw;
    	}
	}
	.checkout-bottom {
		margin-top: 0;
    	padding: 0 4vw 24vw;
    	background: rgba(170,88,68,0.03);
    	border: none;
		div {
			padding-top: 6vw;
		    border-top: 2px solid #cdcdcd;
		}
		p {
			font-size: 3.2vw;
		}
	}

	/* billing */
	.billing-form {
	    margin-top: 5vw;
		input {
			font-size: 3vw;
    		padding: 1vw 2vw 2vw;
		    margin-bottom: 2.7vw; 
		}
		button {
		    font-size: 3.1vw;
		    font-weight: 600;
		    margin-top: 9vw;
		    width: 100%;
		    padding: 3.5vw 0;
		}
		label {
			font-size: 3vw;
			margin-top: 6vw;
			input {
			    width: 5vw;
    			margin-right: 5vw;
			}
		}
	}
	.personal-data input {
		width: 100%!important;
		margin: 0 0 2.7vw!important;
	}
	.country input {
		width: 100%;
	}
	.jq-selectbox {
		width: 100%;
	}
	.jq-selectbox__select {
		width: 100%;
		margin: 0 0 2.7vw;
		height: 7.5vw;
		font-size: 3vw;
		padding: 1vw 2vw 2vw;
	}
	.jq-selectbox__dropdown {
		font-size: 3vw;
	}
	.jq-selectbox li {
		padding: 2vw;
	}
	.jq-selectbox__trigger {
		width: 8vw;
	}
	.jq-selectbox__trigger-arrow {
	    width: 3vw;
	    height: 3vw;
	    top: 1vw;
	    right: 3vw;
	}
	.state input {
		width: 100%!important;
		margin: 0 0 2.7vw!important;
	}
	.jq-selectbox__select-text {
		line-height: 5vw;
	}
	.box-check {
	    width: 6vw;
	    height: 6vw;
	    border-width: 1vw;
	    border-radius: 0.5vw;
        top: -2vw;
        &:before {
            width: 110%;
		    height: 110%;
		    top: -1px;
		    left: -1px;
		    font-size: 4vw;
		    padding-top: 2px;
    		padding-left: 1px;
        }
	}

	/* payment */
	.payment-form {
	    margin-top: 0;
	    h6 {
	    	margin: 5vw 0;
	    }
		input {
			font-size: 3vw;
    		padding: 1vw 2vw 2vw;
		    margin-bottom: 2.7vw; 
		}
		button {
		    font-size: 3.1vw;
    		font-weight: 600;
		    margin-top: 2vw;
		    width: 45vw;
		    height: 11vw;
		    padding: 0;
		    border-radius: 1.5vw;
	        background-size: 19vw;
		}
		> button {
			width: 100%;
		    border-radius: 0;
    		margin-top: 3vw;
		}
		label {
			font-size: 3vw;
			margin-top: 8.5vw;
			line-height: 6.5vw;
			input {
			    width: 5vw;
    			margin-right: 5vw;
			}
		}
	}
	.payment-form .country input, .payment-form .state input:last-child {
		width: 100%;
	}
	.state {
		margin-bottom: 14vw;
	}
	.shipping {
		margin-top: -5vw;
		margin-bottom: 7vw;
		b {
			left: 39vw;
			line-height: 4.5vw;
    		top: 0.5vw;
		}
	}
	.more_shipping {
		font-size: 3vw;
    	margin-bottom: 16vw;
	}
	.payment-btn {
		margin-bottom: 5vw;
	}
	.secure {
		input {
			width: 27vw;
			margin-right: 2vw;
		}
	}
	.hint {
		width: 5vw;
		height: 5vw;
	    margin-top: 1.2vw;
	    line-height: 5vw;
	    font-size: 3vw;
		em {
		    width: 50vw;
		    bottom: 8vw;
		    left: -22vw;
		    padding: 2vw;
			&:after {
				left: 23.5vw;
				width: 2vw;
				height: 2vw;
				bottom: -1.2vw;
			}
		}
	}
	.promo {
	    margin-top: -2.4vw;
		input {
			width: 47vw;
		}
		button {
		    width: 9vw;
    		height: 7.4vw;
			margin-top: 0;
    		border-radius: 0;
    		span {
    		    width: 2.5vw;
			    height: 2.5vw;
			    top: 2.3vw;
			    left: 2.8vw;
			    border-width: 0.3vw;
    		}
		}
	}
	.order-pool {
		height: initial;
		padding-right: 0;
	}
	.order-element {
		position: relative;
		margin-bottom: 12vw;
	}
	.order-img {
		top: 0;
	}
	.order-info {
		padding-bottom: 0;
		.detail {
			padding-bottom: 15vw;
			height: initial;
		}
	}
	.order-price {
		width: 100%;
		margin: 0;
		padding: 0 0 20vw;
		font-size: 3vw;
		.total {
			font-size: 3.5vw;
		}
	}
}
@media all and (max-width: 380px) {
	.hint em:after {
    	left: 23vw;
    	bottom: -1.4vw;
	}
}