/* the page-listing */ 

.page-listing {
    background: $color-white;  
    position: relative;
    .black-white {
    	margin-left: 0!important;
    }
}
.top-banner {
    /* padding: 3.5vw 10.2vw 3vw; */
    margin-bottom: 2.4vw;
    ////////////////////
    margin-bottom: 30px;
    .container {
    	background: url($image_dir + 'listing/top-banner.jpg');
		background-size: cover;
		background-position: center center;
		text-align: center;
	    padding: 44px 126px 36px;
    }
	img {
	    width: 24.5vw;
	    margin-bottom: 1.9vw;
	    ////////////////////
	    width: 308px;
    	margin-bottom: 24px;
	}
	p {
		color: $color-white;
	    font-size: 0.9vw;
    	letter-spacing: 0.038vw;
    	line-height: 1.45vw;
    	///////////////////
	    font-size: 12px;
	    line-height: 19px;
	    letter-spacing: 0.17px;
	}
	a {
		display: none;
	}
}
.listing-content {
	font-size: 0;
	/* overflow: hidden; */	
	margin-bottom: 11vw;
	padding-bottom: 1vw;
	//////////////////
    margin-bottom: 140px;
    padding-bottom: 12px;
}
.listing-sidebar {
	width: 22%;
	float: left;
	margin-top: 80px;
	> h6 {
		display: none;
	}
	b {
		display: none;
	}
	h5 {
		text-transform: uppercase;
		font-size: 1.1vw;
		font-weight: 700;
		cursor: pointer;
		margin-bottom: 0.97vw;
		/////////////////////
	    font-size: 14px;
    	margin-bottom: 12px;
	}
	ul {
		display: none;
	}
	li {
	    margin-bottom: 11.4px;/* 0.9vw */
		&:hover > a {
			color: $color-brown;
			font-weight: 700;
		}
	}
	a {
		font-size: 1.1vw;
		color: $color-black;
		/////////////
		font-size: 14px;
	}
}
h5.sub-show {
	font-weight: 400;
	text-transform: none;
	&:hover > a {
		color: $color-brown;
		font-weight: 700;
	}
}
.to-show {
	a.active {
		color: $color-brown!important;
		font-weight: 700!important;
	}
}
.sub-show + ul {
	font-size: 14px;
	margin-left: 20px;
	a.active {
		color: $color-brown;
		font-weight: 700;	
	}
}
.all-collection {
	width: 78%;
	float: left;
	margin-bottom: 55px;/* 4.4vw */
	> h2 {
		font-size: 40px;
		font-weight: 200;
		letter-spacing: 8px;
		line-height: 60px;
		margin-bottom: 20px;
		text-align: left;
		color: $color-black;
	}
}
.filters {
	width: 100%;
	height: 6.3vw;
	padding-left: 0.2vw;
	///////////////////
    height: 100px;/* 80px */
    padding-left: 2px;
	h6 {
		font-weight: 400;
		font-size: 0.9vw;
		text-align: left;
	    margin-bottom: 1.2vw;
    	letter-spacing: -0.02vw;
    	///////////////////////
    	font-size: 11px;
	    margin-bottom: 13px;
	    letter-spacing: -0.1px;
    	.close {
    		display: none;
    	}
	}
	h6 + ul {
		> li {
			position: relative;
			padding: 0.55vw 0.88vw 0.8vw 0.95vw;
		    font-size: 1.0vw;
			font-weight: 500;
			text-transform: uppercase;
			border: 1px solid $color-black;
			display: inline-block;
			margin-right: 0.4vw;
		    letter-spacing: 0.05vw;
		    cursor: pointer;
		    ///////////////
		    font-size: 13px;
		    letter-spacing: 0.3px;
		    margin-right: 5px;
		    padding: 10px;/* 7px 11px 10px 12px */
			&:last-child {
				margin-right: 0;
			}
			i {
			    vertical-align: top;
    			margin-left: 2px;/* 0.15vw */
    			margin-top: -4px;
			}
			b {
				display: none;
			}
		}
		.mobile-aside {
			display: none;
		}
	}
}
.filter-mobile-buttons {
	display: none;
}
#main-filters {
	display: inline-block;
	width: initial;/* 70% */
}	
#sort-by{
	display: inline-block;
	width: initial;/* 30% */
	float: right;
	padding-left: 0.1%;
	>ul, p {
		display: inline-block;
	}
	p {
		font-weight: 400;
		font-size: 0.87vw;
		text-align: left;
	    float: right;
    	margin-top: 0.7vw;
    	/////////////////
    	margin-top: 11px;
    	font-size: 11px;
    	margin-left: 10px;
	}
	.show-list > li {
		width: initial;
	}
}
.filter-open:after {
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -1px;
	background: $color-white;
	right: 0;
	z-index: 1;
}
/* .show-list > li:hover > div {
	display: block!important;
} */
.active {
	#sizes, #colors, #prices, #length, #in_store {
		display: block;
	}	
}
#sizes, #colors, #prices, #length, #in_store, #best_match {
	display: none;
	position: absolute;
	left: -0.05vw;
	top: 2.3vw;
    width: 43.7vw;
    background: #fff;
    border: 1px solid;
    z-index: 1;
    padding: 3.5vw 2.6vw 2.6vw;
    //////////////////////////
    width: 548px;
    padding: 44px 33px 27px;
    top: 33px;
    left: -1px;
    h5 {
    	font-size: 15px;/* 1.21vw */
    	font-weight: 700;
    }
}
#sizes {
	/* width: 35vw; */
	&:before {
		width: 5.18vw;
		/////////////
		width: 64px;
	}
}
#prices {
	/* width: 30vw; */
	&:before {
		width: 5.95vw;
		//////////////
		width: 74px;
	}
}
#length {
	width: 320px;
	&:before {
		width: 7.25vw;
		////////////
		width: 90px;
	}
	.line {
		&:after {
			content: none;
		}
		li {
			width: 100%;
			&:nth-child(2n) {
				padding-left: 0;
			}
		}
	}
}
#in_store {
	width: 460px;
	left: inherit;
    right: -1px;
	&:before {
		width: 12.5vw;
		//////////////
	    width: 155px;
	    left: inherit;
    	right: 0;
	}
	.line:after {
		content: none;
	} 
}
.store_form {
	> div {
		position: relative;
	}
	label {
		position: relative;
		display: block;
		font-size: 12px;
		text-transform: none;
		margin-bottom: 15px;
		padding-left: 30px;
		input {
			width: 1px;
			visibility: hidden;
		}
	}
	input[type=search] {
		width: 180px;
		height: 25px;
		margin-left: 30px;
	    font-size: 12px;
    	padding: 3px 10px;
	}
}
.store-select {
	position: absolute;
	bottom: 0;
	right: 0;
	label {
		font-size: 12px;
		padding-left: 0;
	}
	.jq-selectbox__select {
		width: 130px;
		margin-bottom: 0;
		border-color: #bbb!important;
    	box-shadow: none;
	}
	.jq-selectbox__dropdown {
		width: 130px!important;
	}
	.jq-selectbox__select-text {
		text-transform: none;
	}
	.jq-selectbox li {
		font-size: 12px;
		text-transform: none;
	}
}
#best_match {
	width: 275px;
	left: inherit;
	right: -1px;/* -0.05vw */
	padding: 44px 0 0;
	top: 32px;
	h5 {
		padding-left: 33px;
	}
	.line {
	    margin: 20px 0 0;
	    &:after {
	    	content: none;
	    }
	} 
	&:before {
		content: none;
		width: 9.65vw;
		/////////////
		width: 168px;
		left: inherit;
		right: 0;
	}
	label {
		display: block;
		position: relative;
		font-size: 12px;
		padding-left: 30px;
		padding: 10px 30px;
		border-bottom: 1px solid #bbb;
		text-transform: none;
		input {
			visibility: hidden;
			width: 1px;
		}
		strong {
		    position: absolute;
		    top: 0;
		    left: 0;
		    background: transparent;
		    width: 100%;
		    height: 100%;
		    opacity: 0.7;
		    z-index: -1;
		}
	}
	.radio-check {
		display: none;
	}
	input[type=radio]:checked ~ strong {
		background: $color-brown;
	}
}
.new-mobile-buttons {
	display: none;
}
.btn-close {
	position: absolute;
	top: 1.05vw;
	right: 0.55vw;
	cursor: pointer;
	///////////////
	width: 20px;
    height: 20px;
    top: 9px;
    right: 8px;
    background: url($image_dir + 'home/btn_close.png');
    background-size: cover;
}
.line {
	position: relative;
	width: 100%;
	font-size: 0;
	margin: 2.5vw 0 2.1vw;
	overflow: hidden;
	/////////////////////
    margin: 40px 0;/* 32px 0 18px */
    &:after {
    	content: '';
    	display: block;
    	position: absolute;
    	left: 0;
    	right: 0;
    	top: 0;
    	margin: auto;
    	width: 1px;
    	height: 100%;
    	background: #ccc;
    }
	li {
		width: 50%;
		display: inline-block;
		font-size: 1.2vw;
		margin-bottom: 0.85vw;
		float: left;
		/////////////////////
		font-size: 17px;
    	margin-bottom: 9px;
    	&:nth-child(2n) {
    		padding-left: 30px;
    	}
		> span {
			width: 28px;
			height: 28px;
			margin-right: 9px;
			////////////////////
			width: 32px;
		    height: 32px;
		    margin-right: 9px;
		    padding-left: 5px;
		    padding-top: 4px;
			svg {
			    transform: scale(1.2);
			}
			&.red-blue-gold svg {
			    transform: scale(1.2);			
			}
		}
	}
	em {
		display: inline-block;
		margin-top: 5px;
		text-transform: none;
		letter-spacing: -1px;
		color: $color-black;
		vertical-align: top;
		width: 160px;
		span {
			color: #bbb;
			float: right;
		    font-style: italic;
		}
	}
}
.left-line {
	width: 237px;
	display: inline-block;
	vertical-align: top;
    border-right: 2px solid #bbb;
    margin-right: 3px
}
.right-line {
	width: 239px;
	display: inline-block;
	vertical-align: top;
    padding-left: 35px;
}

.show-list {
	input[type=checkbox] {
		display: none;
	}
	input[type=checkbox] ~ label {
		position: relative;
	    display: inline-block;
	    width: 30px;
	    height: 30px;
	    border: 1px solid #ddd;
	    border-radius: 1px;
	    background: $color-white;
	    margin-right: 7px;
	    cursor: pointer;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    &:after {
		    content: "";
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    background: transparent;
			color: $color-white;
			font-size: 100%;
		    border-radius: 1px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		}
	}
	input[type=checkbox]:checked ~ label:after {
		content: "\f00c";    
		background: $color-black;
	}
}
.btn-done {
	display: inline-block;
	padding: 1.3vw 2.4vw 1vw;
	background: $color-black;
	color: $color-white;
	text-transform: uppercase;
	font-size: 0.9vw;
	font-weight: 700;
	////////////////
	font-size: 11px;
    padding: 16px 30px 12px;
    &.btn-clear {
    	color: $color-black;
    	background: $color-white;
    	margin-left: 30px;
    	border: 1px solid $color-black;
    }
}
.all-collections_main {
	width: 100%;

}
.product-block {
	width: 23%;
	margin-right: 2.6666%;
	display: inline-block;
	vertical-align: top;
	&:nth-child(4n) {
		margin-right: 0;
	}
	img {
		height: 270px;
		width: 100%;
	    object-position: 50% 50%;
	    object-fit: cover;
	    overflow: hidden;
	} 
}
.product-img-bg {
	height: 270px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.product-block_info {
    margin-bottom: 42px;/* 3.3vw */
	.colors {
		margin: 0.7vw 0 -0.2vw -0.5vw;
		////////////////////////////
	    margin: 11px 0 0 0;
		span {
			position: relative;
			/* transform: scale(1); */
		    margin-right: -0.3vw;
		    /////////////////////
		    width: 32px;
		    height: 32px;
		    margin-top: 0;
		    margin-right: 3px;
		    padding: 0;
		    /* padding-top: 2px; */
		}
	}
}
.color-container {
	position: relative;
	margin-bottom: 15px;
	line-height: 24px;
	padding: 0 20px;
	& > div {
		height: 32px;
		position: relative;
		overflow: hidden;
	}
	button {
		position: absolute;
		top: 0;
		bottom: 0;
		outline: none;
		border: none;
		background-color: rgba(255,255,255,.7);
		text-align: center;
		z-index: 0;
		font-size: 20px;
		&:hover {
			background-color: rgba(0,0,0,.1);
		}
	}
	.left {
		left: 0;
	}
	.right {
		right: 0;
	}
}
.color {
	position: absolute;
    white-space: nowrap;
    margin-bottom: 0;
}
.product-title {
	margin-top: 0.7vw;
	font-size: 1.2vw;
	margin-bottom: 0.5vw;
    letter-spacing: 0.02vw;
    //////////////////////
    margin-top: 9px;
    margin-bottom: 6px;
    font-size: 16px;
    letter-spacing: -0.2px;
}
.product-price {
	font-size: 15px;/* 1.2vw */
	color: #6d6d6d;
	span {
		&:first-child {
			text-decoration: line-through;
			margin-right: 7px;/* 0.5vw */
		}
		&:last-child {
			color: $color-red;
		}
	}
}
.select-options {
	display: none;
}
.pages-counter {
	width: 100%;
	text-align: center;
	display: inline-block;
	ul {
		margin-left: 22%;
		li {
			display: inline-block;
			font-family: $font-opensans; 
			font-size: 1.6vw;
			font-weight: 400;
			margin: 0 0.65vw;
			//////////////
			font-size: 19px;
    		margin: 0 9px;
			&.active {
				color: $color-black;
				font-weight: 700;
				text-decoration: none;
			}
			&:last-child {
				margin: 0;
			}
			&:first-child span {
				transform: rotate(135deg);
			}
			&:hover, &.active {
				a {
					color: $color-brown;
				}
			}
			a {
				color: $color-green;
			}
			span {
				display: inline-block;
				width: 1.1vw;
				height: 1.1vw;
				border-right: 1px solid #363636;
				border-bottom: 1px solid #363636;
				transform: rotate(-45deg);
				/////////////////////////
			    width: 13px;
    			height: 13px;
			}
		}
	}
	&:before {
		content: '';
		display: table;
		clear: both;
	}
}

@media all and (max-width: 1200px) {
	#main-filters {
		/* width: 73%; */
	}
	#sort-by {
		/* width: 27%;
		padding-left: 50px; */
		p {
		    display: block;
			float: none;
			margin-left: 0;
		}
	}
	#length, #in_store {
		left: inherit;
    	right: -1px;
    	&:before {
    	    left: inherit;
    		right: 0;
    	}
	}
	.product-block_info .colors span {
		transform: scale(0.8);
		margin-right: -7px;
	}
	.product-block img {
		height: 207px;
	}
	.product-img-bg {
		height: 205px;
	}
	.all-collection > h2 {
		font-size: 36px;
		letter-spacing: 4px;
	}
}

@media all and (max-width: 993px) {
	.page-listing { 
		main {
	    	padding: 0 4vw;
		}
		.breadcrumbs {
		    padding: 8vw 0 3vw;
		}
	}
	.breadcrumbs-line p {
    	letter-spacing: -0.11vw;
	}
	.top-banner {
		background: $color-white;
		border: 0.1vw solid;
		text-align: center;
		margin-top: 1.2vw;
		padding: 7.2vw 10vw 6.2vw;
		margin-bottom: 2vw;
		.container {
			background: none;
			padding: 0;
		}
		img {
			filter: brightness(0);
			width: 47vw;
			margin-right: 1vw;
			margin-bottom: 7.1vw;
		}
		p {
			color: $color-black;
			font-family: $font-opensans;
			font-size: 2.7vw;
			font-weight: 300;
		    line-height: 3vw;
    		letter-spacing: 0.06vw;
    		span {
    			display: none;
    		}
		}
		a {
			display: block;
			font-family: $font-opensans;
			font-weight: 300;
			color: $color-green;
			text-transform: uppercase;
			text-decoration: underline;
		    margin-top: 3.5vw;
    		font-size: 2.7vw;
		}
	}
	.filters h6 + ul .mobile-aside {
		display: block;
	}
	.no-padding {
		padding: 0!important;
		/* padding-bottom: 0!important; */
		text-transform: none;
		ul {
			padding-left: 4vw;
			li h5 {
				padding-left: 0;
			}
		}
	}
	h5.sub-show {
		&:hover > a {
			font-weight: 400;
		}
	}
	.all-collection {
		width: 100%;
		> h2 {
			font-size: 5vw;
		    line-height: 7vw;
		    letter-spacing: 0.5vw;
		    margin: 3vw 0;
		}
	}
	.all-collections_main {
		overflow: hidden;
	}
	.filters {
		height: 22vw;
		margin: 5vw 0 7vw;
		h6 {
			font-size: 5vw;
			text-align: center;
		    text-transform: uppercase;
		    font-size: 3.4vw;
		    font-weight: 700;
		    letter-spacing: 0.2vw;
		    padding-top: 7.3vw;
    		padding-bottom: 7.7vw;
    		padding-left: 9vw;
    		border-bottom: 0.1vw solid #ddd;
    		margin-bottom: 0;
			span:not(.close) {
				display: none;
			}
			.close {
				display: inline-block;
				float: right;
				margin-right: 4vw;
				width: 3.4vw;
				height: 3.4vw;
				background: url($image_dir + 'home/btn_close.png');
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat; 
			}
		}
		h6 + ul > li {
			display: block;
			width: 100%!important;
			font-size: 3.6vw;
			text-align: left;
			padding: 0;
			border: 0;
			border-bottom: 0.1vw solid #ddd;
			> span {
			    width: 100%;
    			display: block;
    			padding: 4vw;
			}
			i {
				display: none;
			}
			b {
				display: block;
				float: right;
				transition: transform 0.5s ease-out;
				&:after {
					content: '';
					display: block;
					width: 3vw;
					height: 3vw;
					margin-top: -7px;
					border-bottom: 0.2vw solid $color-black;
					border-right: 0.2vw solid $color-black;
					transform: rotate(45deg);
				}
			}			
		}
		.li-active {
			background: $color-black;
			color: $color-white;
			b {
				transform: rotateX(180deg);
				&:after {
					border-color: $color-white;
				}
			}
		}
	}
	.listing-sidebar {
		height: 22vw;
		margin: 5vw 0 7vw;
		h6 {
			font-size: 5vw;
			text-align: center;
		    text-transform: uppercase;
		    font-size: 3.4vw;
		    font-weight: 700;
		    letter-spacing: 0.2vw;
		    padding-top: 7.3vw;
    		padding-bottom: 7.7vw;
    		padding-left: 9vw;
    		border-bottom: 0.1vw solid #ddd;
    		margin-bottom: 0;
			span:not(.close) {
				display: none;
			}
			.close {
				display: inline-block;
				float: right;
				margin-right: 4vw;
				width: 3.4vw;
				height: 3.4vw;
				background: url($image_dir + 'home/btn_close.png');
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat; 
			}
		}
		h6 + ul > li {
			display: block;
			width: 100%!important;
			font-size: 3.6vw;
			text-align: left;
			padding: 0;
			border: 0;
			border-bottom: 0.1vw solid #ddd;
			> span {
			    width: 100%;
    			display: block;
    			padding: 4vw;
			}
			i {
				display: none;
			}
			b {
				display: block;
				float: right;
				transition: transform 0.5s ease-out;
				&:after {
					content: '';
					display: block;
					width: 3vw;
					height: 3vw;
					margin-top: -7px;
					border-bottom: 0.2vw solid $color-black;
					border-right: 0.2vw solid $color-black;
					transform: rotate(45deg);
				}
			}			
		}
		.li-active {
			background: $color-black;
			color: $color-white;
			> b {
				transform: rotateX(180deg);
				&:after {
					border-color: $color-white;
				}
			}
		}
	}
	.listing-content {
		overflow: visible;
	}
	.listing-sidebar {
		display: none;
		width: 100%;
		text-align: left;
		margin-top: 0;
		padding-bottom: 20vw;
		b {
			display: inline-block;
			float: right;
			transition: transform 0.5s ease-out;
			&:after {
				content: '';
				display: block;
				width: 3vw;
				height: 3vw;
				margin-top: -7px;
				border-bottom: 0.2vw solid $color-black;
				border-right: 0.2vw solid $color-black;
				transform: rotate(45deg);
			}
		}
		> h6 {
			display: block;
		}
		h5 {
			margin-bottom: 0;
		} 
		.to-show {
			&.li-active {
				> h5 > b {
					transform: rotateX(180deg);
					&:after {
						border-color: $color-white;
					}
				}
			}
			> h5 {
				border-bottom: 0.1vw solid #ddd;
				font-size: 3.6vw;
				font-weight: 500;
				padding: 4vw;
			}
			> ul {
				padding-left: 4vw;
				ul .no-padding {
					padding-left: 4vw!important;
				}
			}
		}
		li {
			margin-bottom: 0;
			&:hover > a {
				color: $color-black;
				font-weight: 400;
			}
		}
		> div {
			background: $color-white;
			ul {
				display: none;
			}
			h5, li {
				color: $color-black;
			    padding: 3vw;
	    		font-size: 3.2vw;
			}
			a {
				color: $color-black;
			    font-size: 3.2vw;
			}
			> div > ul {
				display: none;
				padding-left: 4vw;
			}
			.collections { 
				.sub-show + ul {
					margin-left: 0;
				}
			}
		}
		.li-active {
			background: $color-white;
			> h5 {
				background: $color-black;
				color: $color-white;
			}
		}
		.show-active > h5 > b {
			transform: rotateX(180deg);
		}
	}
	.sub-show + ul {
		margin-left: 0;
	}
	.list-aside-content {
		display: none;
		background: $color-white;
		ul {
			display: none;
		}
		h5, li {
			color: $color-black;
		    padding: 4vw;
    		font-size: 3.2vw;
		}
		a {
			color: $color-black;
		}
		> div > ul {
			display: none;
			padding-left: 4vw;
		}
		.collections { 
			.sub-show + ul {
				margin-left: 0;
			}
		}
	}
	.line {
		margin: 1.5vw 0;
		li {
			display: block;
			width: 100%;
		    font-size: 3.2vw;
		    margin-bottom: 3.2vw;
		    &:nth-child(2n) {
		    	width: 100%;
		    }
		    > span {
		    	transform: scale(1.3);
		    	margin-right: 3vw;
		    	padding: 0.5vw 0 0 0.6vw;
		    	svg {
	    		    transform: scale(1.2);
		    	}
		    }
		}
		em {
			width: 50vw;
			font-size: 3.2vw;
			letter-spacing: 0.15vw;
			margin-top: 4px;
			span {
				float: none;
				margin-left: 10px;
			}
		}
		label + em {
			margin-top: 14px;
		}
	}
	.btn-close,.btn-done {
		display: none;
	}
	#sizes, #colors, #prices, #length, #in_store, #best_match {
		position: relative;
		width: 100%;
		top: 0;
		border: none;
		padding: 4.5vw;
		h5 {
			display: none;
		}
		&:before {
			content: none;
		}
	}
	.filter-mobile-buttons {
		display: block;
		height: inherit;
		width: 100vw;
		margin-left: -4vw;
		text-align: center;
		div {
			display: inline-block;
			text-align: center;
			width: 50%;
			border-top: 0.1vw solid $color-black;
			border-bottom: 0.1vw solid $color-black;
			padding: 3.5vw;
			&:first-child {
				border-right: 0.1vw solid $color-black;
			}
			p {
				font-size: 3.8vw;
				font-weight: 500;
				line-height: 4vw;
				text-transform: uppercase;
				padding-right: 3vw;
				b {
					display: inline-block;
					margin-left: 2vw;
					&:after {
						content: '';
						display: block;
						width: 2vw;
						height: 2vw;
						margin-top: -3vw;
						border-bottom: 0.2vw solid $color-black;
						border-right: 0.2vw solid $color-black;
						transform: rotate(45deg);
					}
				}
			}
		}
	}
	#sort-by + .filter-mobile-buttons {
		text-align: left;
		#filter-mobile_category {
			border-left: none;
		}
	}
	#filter-mobile_category {
		 border-left: .1vw solid #000;
	}
	#filter-mobile_sort {
		text-align: left;
		border: none;
	    padding: 4.5vw 3.5vw;
	}
	#main-filters, #sort-by, .listing-sidebar {
		display: none;
		position: fixed;
	    top: 29vw;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: $color-white;
	    z-index: 1;
	    border-top: 0.1vw solid #ddd;
	    overflow: scroll;
	}
	.fixed-header + main {
		#main-filters, #sort-by, .listing-sidebar {
			top: 19.4vw;
		}
	}
	#prices .line, #sizes .line, #colors .line {
		&:after {
			content: none;
		}
		li:nth-child(2n) {
			padding-left: 0;
		}
	}
	#colors .line {
		padding-top: 2vw;
		padding-left: 2vw;
	}
	#sort-by {
		padding-left: 0;
		.show-list {
			display: block;
		}
		p {
			display: none;
		}
	}
	.show-list input[type=checkbox] ~ label {
		width: 7vw;
		height: 7vw;
		margin-right: 4vw;
		font-size: 4vw;
	}
	.new-mobile-buttons {
		margin-bottom: 30vw;
		display: block;
		border-top: 0.1vw solid $color-black;
		border-bottom: 0.1vw solid $color-black;
		padding: 3.5vw 7.5vw;
		div {
			display: inline-block;
			width: 45.5%;
			border: 0.2vw solid	$color-black; 
			&:first-child {
				margin-right: 9%;
			}
			b {
				font-size: 4vw;
				font-weight: 700;
				text-transform: uppercase;
				text-align: center;
				display: block;
				padding: 3.8vw 0;
				background: $color-white;
				&:hover {
					background: $color-black;
					color: $color-white;
				}
			}
		}
	}
	.left-line {
		width: 100%;
		border-right: none;
	}
	.right-line {
		width: 100%;
		padding-left: 0;
	}
	.store_form {
		label {
			font-size: 3.5vw;
			line-height: 6.5vw;
			color: $color-black;
			padding-left: 9vw;
			margin-bottom: 3vw;
		}
		input[type=search] {
			width: 40vw;
			height: 8vw;
			margin-left: 9vw;
			padding: 1vw 3vw;
		    border: 1px solid #ccc;
		    font-size: 3.5vw;
		}
		> div label {
			width: 58vw;
		}
	}
	.store-select {
		label {
			width: 30vw!important;
			padding-left: 0!important;
		}
		.jq-selectbox__select {
			width: 30vw;
		    height: 10vw;
		    font-size: 3.5vw;
    		padding: 2vw 3vw;
		}
		.jq-selectbox li {
			font-size: 3.5vw;
		}
		.jq-selectbox:hover .jq-selectbox__trigger-arrow {
			top: 2.5vw;
		}
		.jq-selectbox__dropdown {
			width: 30vw!important;
		}
	}
	#best_match {
		label {
		    font-size: 3.2vw;
		    line-height: 6.5vw;
		    padding: 0 10vw;
		    border: none;
		    color: $color-black;
		    margin-bottom: 3vw;
			strong {
				display: none;
			}
		}
		.radio-check {
			display: block;
			top: 0;
		}
		.line {
		    margin: 5vw 0;
		}
	}
	.product-block {
		float: left;
		width: 46%;
		margin-right: 8%;
		&:nth-child(2n) {
			margin-right: 0;
		}
		img {
		    height: 54vw;
		}
	}
	.product-img-bg {
		height: 54vw;
	}
	.product-block_info {
		text-align: left;
	    margin-bottom: 9vw;
		.colors {
		    margin-top: 2vw;
    		margin-bottom: 2.5vw;
    		margin-left: 0;
    		span {
    			width: 4vw;
    			height: 30px;/* 4vw */
    			margin-right: 2vw;
    			transform: scale(1);
    		}
		}
	}
	.product-title {
    	font-size: 3.3vw;
    	letter-spacing: 0.1vw;
    	margin-bottom: 2.9vw;
   	    margin-top: 2.6vw;
	}
	.product-price {
		font-size: 3.3vw;
	}
	.select-options, .add-to-cart {
		display: block;
		font-size: 2.7vw;
	    margin-top: 3.8vw;
		text-decoration: underline;
		text-transform: uppercase;
	}
	.pages-counter {
		ul {
			margin-left: 4%;
			li {
				font-size: 4.5vw;
			    margin: 0 1.9vw;
			    span {
			    	width: 3.2vw;
			    	height: 3.2vw;
			    }
			}
		}
	}
}
@media all and (max-width: 481px) {
	.line li > span {
		transform: scale(1);
		svg {
		    transform: scale(1.1);
    	}
	}
	.line em {
		margin-top: 0;
	}
	.line label + em {
    	margin-top: 8px;
	}
	.product-block_info .colors span {
		width: 32px;
		height: 32px;
		padding: 1px;
		margin-right: -1vw;
		transform: scale(0.8);
		&:first-child {
			margin-left: 0;
		}
		svg {
			transform: scale(1.1);
		}
	}
}
@media all and (max-width: 380px) {
	.product-block_info .colors {
		margin-left: -0.8vw;
		span {
			margin-right: -2vw;
		}
	}
} 
@media all and (max-width: 321px) {
	.product-block_info .colors span {
		transform: scale(0.6);
		margin-right: -4vw;
	}
	.line li > span {
		transform: scale(0.8);
	}
	.line em {
		margin-top: -2px;
	}
}