/* the page-showroom */ 

.page-showroom {
    background: $color-white;  
    position: relative;
    main {
    	padding-bottom: 118px;/* 9vw */
    }
}
.over-viewer {
	text-align: center;
	padding-top: 9.85vw;
	////////////////////
    padding-top: 124px;
	h2 {
		font-size: 3.25vw;
		font-weight: 200;
		letter-spacing: 0.66vw;
		text-transform: uppercase;
		margin-bottom: 3.2vw;
		margin-left: 0.5vw;
		//////////////////
	    font-size: 43px;
	    letter-spacing: 8px;
	    margin-left: 7px;
	    margin-bottom: 40px;
	}
	p {
		font-size: 1.3vw;
		font-weight: 400;
		margin: 5.4vw 0 6.1vw;
    	line-height: 2.66vw;
    	///////////////////
    	margin: 74px 0 78px;
	    font-size: 16px;
	    letter-spacing: 0.4px;
    	line-height: 34px;
	}
}
.viewer-content {
	width: 100%;
	.slick-slide img {
		width: 100%;
		display: block;
		&:last-child {
			display: none;
		}
	}
	.slick-arrow {
		width: 6.2vw;
		height: 9.7vw;
		background: $color-white;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		border: none;
		transform: rotate(0);
		///////////////////
		width: 78px;
    	height: 125px;
		span {
			width: 3vw;
			height: 3vw;
			border-left: 2px solid $color-black;
			border-bottom: 2px solid $color-black;
			transform: rotate(45deg);
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			left: 1.8vw;
			//////////////    width: 36px;
		    width: 36px;
		    height: 36px;
		    left: 24px;
		}
	}
	.slick-next {
		left: inherit;
		right: -1px;
		transform: rotate(180deg);
	}
}
.viewer-slider {
	width: 100%;
	font-size: 0;
}
.slider-for {
	width: 46.25%;
	display: inline-block;
	vertical-align: top;
	height: 50vw;
	background-size: cover;
	/////////////
	height: 640px;
}
.slider-nav {
	position: relative;
	width: 53.75%;
	display: inline-block;
	vertical-align: top;
	.slick-slide {
		height: 50vw;
		/////////////
		height: 640px;
		> div {
			background-size: cover;
			height: 50%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: box-shadow 0.2s ease-out;
		}
	}
	.my-current {
		box-shadow: inset 0 0 0 4px $color-white; 
	}
	.slick-arrow {
		width: 6.2vw;
		height: 9.7vw;
		background: $color-white;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		border: none;
		transform: rotate(0);
		////////////////////
	    width: 78px;
    	height: 125px;
		span {
			width: 3vw;
			height: 3vw;
			border-left: 2px solid $color-black;
			border-bottom: 2px solid $color-black;
			transform: rotate(45deg);
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			left: 1.8vw;
			////////////
		    width: 36px;
    		height: 36px;
    		left: 24px;
		}
	}
	.slick-next {
		left: inherit;
		right: -1px;
		transform: rotate(180deg);
	}
	h5 {
		display: inline-block;
		vertical-align: middle;
		color: $color-white;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.3vw;
		////////////////
	    font-size: 16px;
	}
}

@media all and (max-width: 993px) {
	.page-showroom main {
    	padding: 0 0 4vw;
	}
	.over-viewer {
		padding-top: 34.2vw;
		h2 {
			line-height: 9.6vw;
		    letter-spacing: 1.6vw;
		    font-size: 8vw;
		    margin-left: 1.5vw;
		    margin-bottom: 13vw;
		}
		p {
			margin: 28vw 4vw 32vw;
			font-size: 4.4vw;
			line-height: 7.5vw;
		}
	}
	.viewer-content {
		.slick-slide img {
			display: none;
			&:last-child {
				display: block;
			}
		}
	}	
	.slider-for {
		width: 100%;
		height: 100vw;
	}
	.slider-nav {
		width: 100%;
		.slick-slide {
			height: 100vw;
		}
		.slick-arrow {
			width: 13.5vw;
			height: 22.5vw;
			span {
				width: 7vw;
				height: 7vw;
				left: 4.7vw;
				border-width: 0.3vw;
			}
		}
		h5 {
			font-size: 2.6vw;
			font-weight: 600;
		}
		.my-current {
			box-shadow: inset 0 0 0 1.2vw #fff;
		}
	}
}