/* the page-events */ 

.page-events {
    background: $color-white;  
    position: relative;
    main {
    	padding: 98px 0 192px;
    }
}
@media all and (min-width: 1600px) {
	.page-events main {
		padding-top: 200px;
	}
}
.top-events {
	text-align: center;
	margin-bottom: 118px;
	h1 {
		font-size: 40px;
		font-weight: 200;
		margin-bottom: 32px;
		text-transform: uppercase;
	    letter-spacing: 9px;
    	margin-left: 5px;
	}
	p {
		font-size: 16px;
		line-height: 32px;
	    letter-spacing: 0.13px;
    	margin: 0 172px 5px 170px;
	}
}
.event-content {
	
}
.events-filters {
	text-align: left;
	h2 {
		font-size: 27px;
		font-weight: 600;
		margin-bottom: 38px;
	}
}
.filter {
	display: inline-block;
	vertical-align: top;
	margin-right: 11px;
	a {
		display: block;
		font-size: 17px;
		font-weight: 300;
		text-align: center;
		padding: 20px 30px;
		border: 1px solid #666;
		color: $color-black;
		&.selected {
			font-weight: 500;
			border-color: transparent;
			background: $color-brown;
		 	color: $color-white;
		}
	}
	&:first-child {
		a {
			padding: 20px 40px;
		}
	}
}
.all-events {
	overflow: hidden;
}
.event-post {
	margin-top: 92px;
	font-size: 0;
	&:first-child {
		margin-top: 80px;
	}
}
.event-left {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	padding-right: 30px;
	img {
		width: 100%;
	}
}
.event-date {
	position: relative;
	width: 110px;
	height: 50px;
	background: $color-brown;
	margin: -30px auto 0;
	font-family: $font-opensans;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1.5px;
	color: $color-white;
	padding: 8px 18px;
	span {
		text-align: left;
		&:first-child {
			display: block;
			font-family: $font-raleway;
			font-size: 9px;
			text-transform: uppercase;
		}
	}
}
.event-right {
	width: 980px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	padding: 0 20px 0 27px;
	h3 {
		position: relative;
		font-size: 28px;
		font-weight: 300;
		letter-spacing: 1.15px;
		margin-bottom: 47px;
		em {
			display: inline;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: -25px;
			left: -70px;
			width: 150px;
			height: 1px;
			background: #666;
			z-index: -1;
		}
	}
	p {
	    letter-spacing: 1.13px;
    	line-height: 26px;
    	em {
    		display: inline;
    	}
	}
	a {
		display: block;
		font-size: 17px;
		color: $color-brown;
		font-weight: 700;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		margin-top: 20px;
	}
}
.event-info {
    margin-bottom: 16px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
	p {
		display: inline-block;
		color: $color-brown;
		line-height: 20px;
		margin-left: 23px;
	}
}
@media all and (max-width: 1200px) {
	.top-events p {
		margin: 0 30px;
	}
	.filter {
		a {
			padding: 15px 25px;
		}
		&:first-child a {
			padding: 15px 30px;
		}
	}
	.event-left {
		width: 140px;
		padding-right: 0;
	}
	.event-right {
    	width: 760px;
	}
}
@media all and (max-width: 993px) {
	.page-events main {
		padding: 34.2vw 0 27.5vw;
	}
	.top-events {
		margin-bottom: 15vw;
		h1 {
			line-height: 9.6vw;
		    letter-spacing: 1.6vw;
		    font-size: 8vw;
		    margin-left: 1.5vw;
		    margin-bottom: 7vw;
		    margin-top: 0;
		}
		p {
			margin: 8.5vw 5vw 18vw;
			font-size: 3.4vw;
			line-height: 7.5vw;
			letter-spacing: 0.04vw;
		}
	}
	.events-content {
	    padding: 0 3vw 0 4vw;
	}
	.events-filters h2 {
	    font-size: 6vw;
    	letter-spacing: 0.13vw;
	    margin-bottom: 9vw;
	}
	.filter {
		margin-bottom: 4vw;
		margin-right: 2vw;
		a {
			font-size: 4vw;
			padding: 4.6vw 5vw;
		}
		&:first-child a {
			padding: 4.6vw 7vw;
		}
		&:nth-child(3), &:last-child {
			margin-right: 0;
		}
	}
	.event-post {
		position: relative;
		margin-top: 20vw;
		&:first-child {
			margin-top: 8vw;
		}
	}
	.event-left {
		width: 39vw;
		position: absolute;
		top: 0;
		left: 0;
	}
	.event-right {
		width: 100%;
		padding: 0;
		text-align: left;
		h3 {
			margin-left: 46vw;
		    font-size: 6vw;
    		letter-spacing: 0.55vw;
			line-height: 10vw;
		    margin-bottom: 19.5vw;
		    &:after {
		    	width: 33vw;
		    	left: -8.5vw;
		    	bottom: -5.5vw;
		    }
			em {
				display: none;
			}
		}
		p {
		    font-size: 3.8vw;
		    letter-spacing: 0.2vw;
		    line-height: 6vw;
		    em {
		    	display: none;
		    }
		}
		a {
			font-size: 4vw;
		    letter-spacing: 0.05vw;
		    margin-top: 4.5vw;
		}
	}
	.event-info {
	    margin-left: 46vw;
    	font-size: 3.6vw;
    	padding-top: 0.4vw;
	    letter-spacing: 0.15vw;
	    margin-bottom: 2.3vw;
    	p {
    		display: block;
    		margin-left: 0;
    	    margin-top: 3.4vw;
    		line-height: 4vw;
		    letter-spacing: 0;
    	}
	}
	.event-date {
	    width: 25vw;
	    height: 12vw;
	    margin-top: -7vw;
	    font-size: 5.5vw;
	    padding: 2.3vw 4vw;
	    letter-spacing: 0.5vw;
		span:first-child {
			font-size: 1.8vw;
		}
	}
}