/* the page-shopping-cart */ 

.page-shopping-cart {
    background: $color-white;  
    position: relative;
    main {
    	padding-bottom: 77px;
    }
}
.main-cart {
	text-align: center;
    padding-top: 140px; 
    .container {
    	padding-bottom: 80px;
    	border-bottom: 1px solid #c0c0c0;
    }
	h2 {
		font-weight: 400;
	    font-size: 22px;
	    letter-spacing: -0.5px;
	    margin-bottom: 16px;
	    text-align: left;
	    color: $color-black;
	}
	p {
		font-weight: 400;
	    font-size: 17px;
	    letter-spacing: 0.4px;
    	line-height: 34px;

	}
	a {
		display: block;
		text-align: center;
		margin: auto;
		font-size: 18px;
		color: $color-brown;
		margin-bottom: 72px;
		text-decoration: underline;
	}
}
.tip {
	background: #edf0ef;
	border: 3px solid #dde3e1;
	color: $color-green;
	font-size: 18px;
	margin-bottom: 23px;
    padding: 5px 20px;
    p {
    	letter-spacing: 0;
    }
	b {
		font-weight: 600;
	    letter-spacing: 1px;
	    margin-right: 1px;
	    margin-left: 20px;
	}
	.close {
		float: right;
		margin-top: 7px;
		width: 20px;
		height: 20px;
		background: url($image_dir + 'home/btn_close.png');
		background-size: cover;
	}
}
.all-cart {
	font-size: 0;
}
.left-cart {
	width: 865px;
	display: inline-block;
	vertical-align: top;
}
.left-cart_top {
	border: 2px solid #dadada;
}
.top-titles {
	background: #e5e5e5;
	text-align: left;
    padding: 8px 53px 8px 23px;
	p {
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0;
		&:nth-child(2) {
			float: right;
		}
		&:nth-child(3) {
			float: right;
			margin-right: 74px;
		}
		&:last-child {
			float: right;
			margin-right: 98px;
		}
	}
}
.left-info {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 490px;
	padding: 31px 25px;
	.order-img {
		width: 200px;
	    height: 238px;
    	overflow: hidden;
	}
	.order-info {
		padding-left: 28px;
		width: 240px;
		p {
			font-size: 14px;
			letter-spacing: 0;
			line-height: 15px;
		}
		.detail {
			padding-top: 13px;
			border: none;
			.mob-color {
				color: $color-green;
			}
		}
	}
}
.u_r {
	span {
		float: none;
		display: inline-block;
		color: $color-black;
		text-decoration: underline;
		padding-right: 4px;
		&:last-child {
			border-left: 2px solid #ccc;
			padding-left: 8px;
		}
	}
}
.right-info {
	width: 371px;
	display: inline-block;
	vertical-align: top;
	padding: 29px 54px 0 2px;
	text-align: right;
	input {
		display: inline-block;
	    float: left;
	    border: 3px solid #ccc;
	    width: 86px;
	    height: 41px;
	    font-size: 14px;
	    text-align: center;
	    font-family: $font-opensans;
	}
	p {
		display: inline-block;
		font-size: 14px;
		line-height: 40px;
		&:last-child {
			margin-left: 60px;
		}
	}
}
.left-cart-bottom {
	text-align: right;
	p {
		margin-top: 26px;
		font-size: 14px;
		letter-spacing: 0;
		&:last-child {
			margin-top: 15px;
			span {
				margin-left: 89px;
			}
		}
	}
	b {
		font-size: 16px;
	}
	span {
		margin-left: 74px;
	}
}
.right-cart {
	width: 315px;
	display: inline-block;
	vertical-align: top;
	padding-left: 25px;
	a {
		width: 100%;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		color: $color-white;
		padding: 24px 0;
		background: $color-black;
		text-decoration: none;
		margin-bottom: 47px;
	}
	div {
		position: relative;
	    width: 80%;
    	margin: auto;
    	margin-bottom: 44px;
    	span {
    		display: block;
    		width: 40px;
    		font-size: 16px;
    		background-color: $color-white;
    		position: absolute;
    		left: 0;
    		right: 0;
    		top: -7px;
    		margin: auto;
    	}
	}
	button {
	    display: inline-block;
	    width: 100%;
	    height: 67px;
	    border: 2px solid #ccc;
	    border-radius: 0;
	    background-size: 100px;
	    background-color: transparent;
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    margin-top: 0;
	    margin-bottom: 20px;
	}
}
.page-shopping-cart {
	.product-slider .container {
		padding-bottom: 70px;
		border-color: #c0c0c0;
	}
	.product-slider_title {
		color: $color-black;
		font-size: 25px;
		font-weight: 200;
	    letter-spacing: 1.6px;
	}
}
.product-slider_2 {
	.container {
		padding-top: 16px;
		margin-bottom: 0;
	}
}

@media all and (max-width: 1200px) {
	.top-titles {
		padding-right: 24px;
		p {
			&:nth-child(3) {
				margin-right: 55px;
			}
			&:last-child {
			    margin-right: 90px;
			}
		}
	}
	.left-cart {
		width: 715px;

	}
	.left-info {
		width: 390px;
		padding: 31px 20px;
		.order-info {
			width: 215px;
		}
		.order-img {
		    width: 135px;
		    height: 175px;
		}
	}
	.right-info {
		padding-right: 24px;
		width: 321px;
		p:last-child {
			margin-left: 49px;
		}
	}
	.right-cart {
		width: 185px;
		a {
			font-size: 12px;
		}
		button {
			background-size: 80px;
		}
	}
}

@media all and (max-width: 993px) {
	.main-cart {
		padding: 23vw 3.5vw 0;
		h2 {
		    font-size: 5vw;
    		letter-spacing: -0.17vw;
			margin-bottom: 9vw;
		}
		.container {
			padding-bottom: 7vw;
		}
	}
	.tip {
		position: relative;
	    border-width: 0.4vw;
	    font-size: 2vw;
	    padding: 3.2vw 5vw;
	    margin-bottom: 8vw;
		p {
			font-size: 3.2vw;
			line-height: 5vw;
		}
		b {
			display: block;
			margin-left: 0;
		}
		.close {
			position: absolute;
		    top: 1.2vw;
		    right: 2.2vw;
		    margin-top: 0;
		    width: 4vw;
		    height: 4vw;
		}
	}
	.left-cart {
		width: 100%;
	}
	.top-titles {
		display: none;
	}
	.left-info {
		width: 100%;
		padding: 0;
		.order-img {
			top: 0;
			width: 43vw;
			height: 49vw;
			padding: 0;
		}
		.order-info {
		    width: 53vw;
		    padding-left: 8vw;
		    margin-left: 40vw;
		    padding-bottom: 2vw;
		    p {
		        font-size: 3vw;
    			line-height: 3vw;
		    }
		    .detail {
		    	padding: 0 0 16vw;
		    }
		}
	}
	.right-info {
	    width: inherit;
	    padding: 0;
	    position: absolute;
	    right: 27vw;
	    bottom: 12vw;
	    p {
	    	display: none;
	    }
	    input {
	        width: 17vw;
		    height: 8vw;
		    font-size: 3.5vw;
	    }
	}
	.left-cart_top {
		position: relative;
		border: none;
	}
	.u_r {
		span {
			padding-right: 1vw;
			&:last-child {
				padding-left: 2vw;
			}
		}
	}
	.left-cart-bottom {
	    margin-top: 9vw;
	    border-top: 0.2vw solid;
	    padding-top: 7vw;
	    padding-right: 1vw;
	    p {
	        margin-top: 0;
		    font-size: 3.2vw;
		    line-height: 6vw;
		    &:last-child {
			    margin-top: 4vw;
			    span {
		    	    margin-left: 18vw;
			    }
			}
	    }
	    span {
    	    margin-left: 14.5vw;
	    }
	    b {
    	    font-size: 3.5vw;
	    }
	}
	.right-cart {
		padding-left: 0;
		width: 100%;
		margin-top: 13vw;
		a {
		    font-size: 3.5vw;
    		padding: 4.8vw 0;
    		margin-bottom: 9vw;
		}
		div {
			width: 55%;
			margin-bottom: 9vw;
			span {
				width: 10vw;
			    font-size: 3.5vw;
			    top: -2vw;
			}
		}
		button {
		    height: 13vw;
		    margin-bottom: 6vw;
		    background-size: 23vw;
		}
	}
	.page-shopping-cart {
		main {
			padding-bottom: 7vw;
		}
		.product-slider_title {
			font-size: 5.5vw;
		    margin-left: 3.5vw;
		    letter-spacing: 0.4vw;
		}
		.product-slider {
		    padding-top: 5vw;
		    padding-bottom: 0;
		    .container {
	    	    padding: 6.5vw 0 18vw;
	    	    margin-bottom: 0;
		    }
		}
	}
}