/* the page-footer */
.page-home .page-footer {
	background: $color-body;
}
.page-footer {
	background: $color-white;
}
.footer-top {
	text-align: center;
	margin-bottom: 96px;/* 7.7vw */
	img {
		width: 256px;/* 20.5vw */
	}
}
.footer-content {
	margin-bottom: 133px;/* 10vw */
	overflow: hidden;
}
.footer-content__item {
	float: left;
	width: 26%;
	min-height: 1px;
	text-align: left;
	padding-right: 2vw;
	///////////////////
	padding-right: 25px;
	&:first-child {
		width: 33%;
	    padding-right: 82px;
	}
	&:nth-child(2) {
		width: 21.5%;
	}
	&:last-child {
		width: 19%;
		padding-right: 0;
	}
	form {
		margin-top: 2.2vw;
		/////////////////
	    margin-top: 30px;
		input {
			border: 0.3vw solid #a1a1a1;
			background: $color-white;
			padding: 1.2vw 1.5vw;
			font-size: 0.88vw;
			width: 18.3vw;
			/////////////
		    width: 82%;
		    padding: 16px 22px;
		    border-width: 4px;
		    font-size: 12px;
			&::-webkit-input-placeholder {
				color: $color-black;
				opacity: 0.2!important;
			}
			&::moz-placeholder {
				color: $color-black;
				opacity: 0.2!important;
			}
		}
		button {
			vertical-align: top;
			border: none;
			background: $color-green;
			width: 3.5vw;
			height: 3.9vw;
			margin-left: 0.3vw;
			border-radius: 0.4vw;
			position: relative;
			//////////////////
		    width: 15%;
		    margin-left: 3px;
		    height: 52px;
		    border-radius: 4px;
			.slick-next {
			    top: 1.4vw;
			    left: 0.9vw;
			    width: 1.2vw;
			    height: 1.2vw;
			    border-width: 0.15vw;
				color: $color-white;
				///////////////////
			    width: 16px;
			    height: 16px;
			    top: 18px;
			    left: 12px;
				border-width: 2px;
			}
		}
	}
	li {
		margin-bottom: 0.98vw;
		/////////////////////
		margin-bottom: 10px;
		a {
			font-size: 0.87vw;
			color: $color-black;
			///////////////////
		    font-size: 12px;
		} 
	}
	p {
		font-size: 0.8vw;
		font-weight: 500;
		line-height: 1.4vw;
		color: $color-black;
		margin-bottom: 0.54vw;
	    letter-spacing: 0.035vw;
	    ///////////////////////
	    font-size: 11px;
	    line-height: 18px;
	    letter-spacing: 0.4px;
	    margin-bottom: 10px;
	}
}
.footer-marker {
	margin-top: -0.1vw;
	margin-bottom: 0.8vw!important;
	img {
	    width: 0.95vw;
	    filter: brightness(0);
	    margin-right: 0.5vw;
	    margin-left: -0.17vw;
	    margin-bottom: -0.4vw;
	    /////////////////////
	    width: 12px;
	    margin-right: 6px;
	    margin-left: -2px;
	    margin-bottom: -5px;
	}
}
.footer-item__title {
	font-size: 1.08vw;
	font-weight: 700;
	color: $color-black;
	text-transform: uppercase;
	margin-bottom: 3.3vw;
	letter-spacing: 0;
	//////////////////
	font-size: 15px;
	margin-bottom: 43px;
}
.footer-info h5 {
	margin-bottom: 3.5vw;
	////////////////////
	margin-bottom: 42px;
}
.footer-offers {
	h5 {
		margin-bottom: 1.53vw;
		//////////////////////
		margin-bottom: 19px;
	}
}
.footer-bold {
	text-transform: uppercase;
}
.footer-social {
    margin-left: 0.2vw;
    margin-top: 0.25vw;
    //////////////////
    margin-left: 2px;
    margin-top: 0;
	.fa {
		font-size: 1.55vw;
		color: $color-black;
		margin-right: 1.5vw;

	    font-size: 23px;
    	margin-right: 17px;
   	}
}
.footer-bottom {
	position: relative;
	height: 8.9vw;
	width: 100%;
	background: transparent;
	/////////////////////
	height: 110px;
} 

.footer-menu {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 90px;/* 7.3vw */
	margin: auto;
	text-align: center;
	li {
		display: inline-block;
		padding: 0 13px;/* 1.1vw */
		border-right: 2px solid $color-green;
		&:last-child {
			border-right: none;
		}
		a {
			font-size: 0.85vw;
			font-weight: 500; 
			text-transform: uppercase;
			color: $color-green;
			/////////////////
			font-size: 12px;
		}
	}
}
.copyright {
	position: absolute;
	width: 7.2vw;
	left: 0;
	right: 0;
	margin: auto; 
	bottom: 2.5vw;
	color: #6d6d6d;
	font-size: 0.87vw;
	font-weight: 500;
	////////////////
    width: 100px;
    font-size: 12px;
    bottom: 24px;
}

@media all and (max-width: 1200px) {
	.footer-content__item:first-child {
		padding-right: 60px;
	}
	.footer-content__item form {
		input {
			width: 77%;
		}
		button {
			width: 20%;
		}
	}
	.footer-social .fa {
		margin-right: 11px;
	}
}

@media all and (max-width: 993px) {
	.page-footer {
		padding-top: 25vw;
	}
	.page-home .page-footer {
		background: $color-body;
	}
	.footer-top {
		text-align: center;
		margin-bottom: 16.5vw;
		img {
	    	width: 68.5vw;
	    	margin-right: 2vw;
		}
	}
	.footer-content {
	    padding-top: 33vw;
    	margin: 0 4vw;
	}
	.footer-content__item {
		width: 100%!important;
		padding-right: 0;
	    margin-bottom: 17.5vw;
		&:last-child {
		    margin-top: -183vw;
		    text-align: center;
		    margin-left: 2.3vw;
		}
		p {
    		font-size: 3.03vw;
		}
		form {
    		margin-top: 7.2vw;
			input {
			    border: 1vw solid #a1a1a1;
			    padding: 3.1vw 4vw;
			    font-size: 3vw;
			    width: 80%;/* 80 */
			}
			button {
			    width: 10vw;
			    height: 11.5vw;
			    border-radius: 1.3vw;
			    margin-left: 1.45vw;
			    .slick-next {
				    top: 4.2vw;
				    left: 2.8vw;
				    width: 3.3vw;
				    height: 3.3vw;
				    border-width: 0.3vw;
				}
			}
		}
		li {
    		margin-bottom: 2.6vw;
    		a {
    			font-size: 3.1vw;
			}
		}
	}
	.footer-info {
		margin-bottom: 15vw;
		h5 {
		    margin-bottom: 9.2vw;
		}
	}
	.footer-location {
		h5 {
		    margin-bottom: 10.5vw;
		}
		p {
		    font-size: 3.03vw;
		    margin-bottom: 4.3vw;
		}
	}
	.footer-item__title {
		font-size: 4.35vw;
	    margin-bottom: 5.5vw;
	}
	.footer-offers h5 {
		margin-bottom: 5.5vw;
	}
	.footer-marker {
    	margin-top: -1.2vw;
    	margin-bottom: 3.8vw !important;
		img {
		    width: 2.5vw;
		    margin-right: 2vw;
		    margin-left: 0;
		    margin-bottom: -0.4vw;
		}
	}
	.footer-social .fa {
    	font-size: 7.2vw;
    	margin-right: 7.1vw;
	}
	.footer-bottom {
		margin-top: 9vw;
	    height: 22.4vw;
	}
	.footer-menu {
	    left: 6.2vw;
	    right: 7vw;
	    bottom: 15.1vw;
	    li {
		    padding: 0 3.24vw;
		    margin-bottom: 3vw;
		    &:nth-child(3) {
		    	border: none;
		    }
		    a {
    			font-size: 2.5vw;
			}
		}
	}
	.copyright {
	    width: 23vw;
	    bottom: 9.8vw;
	    font-size: 2.5vw;
	}
}
@media all and (max-width: 420px) {
	.footer-content__item:last-child {
		margin-top: -200vw;
	}
}
@media (max-width: 330px) {
	.footer-content__item:last-child {
		margin-top: -210vw;
	}
}
/* end page-footer */