/* the page-header */
.page-header {
    height: 80px;
	width: 100%;
	border-top: 3px solid $color-brown;
	text-transform: uppercase;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	transition: all 0.5s ease-out;
}
.fixed-header {
	position: fixed;
	background: $color-white;
	border: none;
	.top-logo {
		background: $color-white;
	}
}
.top-number, .mobile-btn, .close-menu, .menu-arrow {
	display: none;
}
.top-logo {
	display: inline-block;
    width: 84px;
    height: 77px;
	float: left;
	background: $color-brown;
	transition: background 0.5s ease-out;
	img {
        padding: 6px 10px;
        margin-left: 0;
	}
}
menu {
	display: inline-block;
}
.menu {
	list-style-type: none;
	display: inline-block;
    margin-left: 10px;
	li {
		float: left;
	    margin: 0;
	}
	a {
		font-size: 15px;
		font-weight: 500;
		color: $color-black;
	}
	> li {
		padding: 30px 12px;
	}
}
.top-btn {
	display: inline-block;
	float: right;
    margin-right: 0;
    padding-top: 17px;
	div {
		display: inline-block;
		float: left;
		text-transform: uppercase;
		color: $color-black;
		font-weight: 500;
	    font-size: 15px;
        padding: 5px 20px;
	}
	.signin {
		color: $color-green;
		margin: 8px 9px 0 0;
	}
	.checkout {
		position: relative;
		background: $color-brown;
		color: $color-white;
		font-weight: 700;
    	padding: 11px 14px 11px 18px;
    	margin-right: 3px;
    	cursor: pointer;
    	img {
    	    width: 17px;
		    margin-bottom: -3px;
		    margin-left: 7px;
		}
	}
	.search-form {
		position: relative;
		margin-top: 1px;
		img {
			filter: brightness(0);
		    width: 28px;
		    cursor: pointer;
		}
	}
}
.form_search {
	display: none;
	position: absolute;
	top: 60px;
	right: 20px;
	.input-group {
		padding: 0;
		button {
			display: none;
		}
	}
}
.search-form.active .form_search {
	display: block;
}
.form-input {
	border: 1px solid #ccc;
	padding: 11px 40px 11px 23px;
    width: 205px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.close-form_search {
	position: absolute;
    height: 27%;
    width: 14px;
    right: 24px;
    top: 16px;
	border: none;
	background: transparent;
	outline: none;
    background: url($image_dir + 'home/btn_close.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.ui-autocomplete {
	background: $color-white;
	border: 1px solid #ccc;
    border-top: none;
    width: 270px;
    padding: 12px 0 6px;
	li {
		font-size: 15px;
		font-weight: 700;
		padding: 9px 0;
		padding-left: 23px;
		cursor: pointer;
		&:hover {
			background: #ebebeb;
		}
	}
}
.ui-helper-hidden-accessible {
	display: none;
}
.header-mask {
	display: none;
}

/* menu */
.main-menu {
	position: relative;
}
.main-sub-menu {
	width: 1100px;
	padding: 0;
	ul {
		list-style: none;
		padding: 15px 0;
		text-transform: none;
		line-height: 2em;
	}
}
.col-md-4, .col-md-3 {
    width: 33.3%;
    float: left;
    > a {
    	display: block;
    	text-align: left;
    	margin-left: 10px;
    	font-weight: 700;
    }
}
.col-md-3 {
	width: 25%;
}
.sub-name span {
	display: block;
	margin-bottom: 20px;
}
.none-abc {
	text-align: left;
	margin-left: 10px;
	font-weight: 400;
	li {
		display: block;
		float: none;
		padding: 0!important;
	}
}

@media (min-width: 994px) {
	.main-menu {
		input[type="checkbox"] {
			display: none;
		}
	}
	.main-sub-menu {
		background-color: #fff;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin-top: -5px;
		padding: 50px;
		min-height: 100px;
		list-style: none;
		z-index: 50;
		display: none;
		ul {
			list-style: none;
			padding: 0;
			text-transform: none;
			line-height: 2em;
		}
		.all {
			text-transform: none;
		}
		.abc-list {
			li {
				position: relative;
			    margin: 0!important;
			    padding: 5px 0!important;
			}
			ul {
				position: absolute;
				top: 100%;
				left: -35px;
				width: 100px;
				display: none;
				z-index: 50;
				background-color: #eee;
				&:before {
					content: "";
					border-bottom: 5px solid #eee;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					position: absolute;
					top: -5px;
					left: 50%;
					margin-left: -4px;
				}
				li {
					display: block;
					width: inherit;
					&:hover {
						background-color: #ccc;
					}
				}
			}
			li:hover {
				ul {
					display: block;
				}
			}
		}
	}
	li:hover > .main-sub-menu {
		display: block;
	}
	header {
		.nav>li {
			position: static;
		}
	}
	.abc-list {
		max-width: 200px;
	    height: 230px;
		li {
			display: inline-block;
			text-align: center;
			width: 30px;
		}
	}
}

@media all and (max-width: 1200px) {
	.page-header .container {
		width: 100%;
	}
	.top-btn {
		padding-top: 19px;
		div {
			font-size: 13px;
			padding: 5px 10px;
		}
	}
	.menu > li {
		padding: 30px 8px;
	}
	.menu a {
		font-size: 13px;
	}
	.main-sub-menu {
		width: 890px;
	}
}

@media all and (max-width: 993px) { 
	menu {
	    position: absolute;
	    width: 50vw;
	    top: 0;
	    right: 0;
    	z-index: 11;
	    transform: translateX(50vw);
    	transition: transform .5s ease-out;
	    .menu {
	    	width: 100%;
	    	background: $color-white;
	    }
	}
	.menu-active {
		transform: translateX(0);
	}
	.menu {
		text-align: right;
		margin-left: 0;
		height: 100vh;
		li {
			display: block;
			float: none;
			text-align: left;
			margin: 0;
			border-top: 0.1vw solid rgba(172,172,172,0.2);
			padding: 4vw 0 0;
			a {
				font-size: 3.7vw;
				font-weight: 400;
			}
			&:last-child {
				border-bottom: 0.1vw solid rgba(172,172,172,0.2);
			}
		}
		> li {
			background: $color-black;
			&.single-li {
			    padding: 4vw 0 4vw 4vw;
			}
		}
		a {
			color: $color-white;
		}
	}
	.has-sub {
		display: block;
		padding-left: 4vw;
		padding-bottom: 4vw;
	}
	.main-sub-menu {
		width: 50vw;
		background-color: #252525;
		li {
			padding: 0;
			border-top: 1px solid #555;
		}
		ul {
			padding: 0;
			background-color: #444;
			a {
				display: block;
			}
		}
		.abc-list {
			ul {
				background-color: #505050;
			}
		}
	}
	.main-menu {
		position: absolute;
	    overflow: auto;
    	height: 100%;
		input[type="checkbox"]{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			opacity: 0;
			width: 100%;
			height: 100%;
			z-index: 20;
			&~ul {
				display: none;
				position: relative;
				z-index: 50;
			}
			&:checked~ul {
				display: block;
			}
		}
		.sub-name {
			display: block;
			margin-left: 0;
			padding-right: 5vw;
			font-size: 3vw;
			padding-bottom: 4vw;
		}
		li {
			position: relative;
		}
		.arrow {
			position: absolute;
			border-top: 1px solid #ccc;
			border-right: 1px solid #ccc;
		    top: 4vw;
		    right: 3.5vw;
		    width: 3vw;
		    height: 3vw;
			transform: rotate(45deg);
			transition: all .1s ease;
		}
		.main-sub-menu + .arrow {
			transform: rotate(135deg);
		}
		input[type="checkbox"]:checked + .main-sub-menu ~ .arrow {
			transform: rotate(-45deg);
		}
		input[type="checkbox"]:checked ~ span.plus-minus:before {
			display: none;
		}
	}
	span.plus-minus {
		position: absolute;
		display: inline-block;
	    top: 6vw;
	    right: 3vw;
	    width: 4vw;
		height: 0;
		border-top: 1px solid #ccc;
		&:before {
			content: "";
			height: 4vw;
			width: 0;
			position: absolute;
			top: -2vw;
			left: 50%;
			border-left: 1px solid #ccc;
		}
	}
	.hidden-xs {
		display: none!important;
	}
	.col-md-4 > a, .col-md-3 > a {
		font-weight: 400;
	}
	.col-md-4, .col-md-3 {
		width: 50vw;
		margin-right: 0!important;
		padding: 4vw 0 0!important;
		> a {
			padding-left: 4vw;
		}
	}
	.main-sub-menu li {
		background: #222;
		a {
			line-height: 10vw;
			padding-left: 4vw;
		}
	}
	.none-abc, .abc-list {
		> li {
			background: #444;
		}
	}
	.abc-list ul li {
		background: #555;
		border-color: #777;
	}
	.abc-list {
		.plus-minus {
			/* top: 37px; */
			top: 5vw;
		}
	}
	.none-abc {
		margin-left: 0;
	}
	.sub-name span {
		margin-bottom: 0;
		line-height: 4vw;
	}
	.menu-arrow {
	    display: block;
	    position: absolute;
	    border-top: 1px solid #ccc;
	    border-right: 1px solid #ccc;
	    width: 3vw;
	    height: 3vw;
	    right: 4.5vw;
	    top: 4.5vw;
	    transform: rotate(45deg);
	}
	.close-menu {
		display: block;
		margin: 7.8vw 0 7.5vw 42vw;
		width: 4vw;
		height: 4vw;
		background-image: url($image_dir + 'home/btn_close.png');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.page-header {
		height: 19.5vw;/*inherit*/
	    margin-top: 8.6vw;
    	border-width: 1.2vw;
    	overflow: hidden;
	}
	.hidden .page-header {
		height: inherit;
	}
	.fixed-header {
		margin-top: 0;
		background: transparent;
		.header-mask {
			display: block;
		}
	}
	.header-mask {
	    width: 100%;
	    height: 19.5vw;
	    background: #fff;
	    position: absolute;
	    left: 0;
	    z-index: -1;
	    top: 0;
	}
	.top-number {
		display: inline-block;
		margin: auto;
		font-size: 3.1vw;
		font-weight: 500;
		color: $color-brown;
		text-decoration: underline;
		margin-top: 2.7vw;
	    margin-right: 1.5vw;
	}
	.top-logo {
    	width: 19vw;
    	height: 18.5vw;
    	margin-top: -1px;
    	img {
    		padding: 2.4vw;
    		margin-left: -0.8vw;
		}
	}
	.top-btn {
	    margin-right: 24.8vw;
	    margin-top: 5.5vw;
	    padding-top: 0;
		.signin {
			display: none;
		}
		.checkout {
			background: transparent;
		    margin-right: -10.5vw;
		    padding: 0.89vw 1.15vw 0.89vw 1.46vw;
			span {
				display: none;
			}
			img {
				filter: brightness(0);
				width: 6.3vw;
			}
		}
		.search-form {
		    margin-left: -10.5vw;
		    padding: 0.37vw 1.67vw;	
			img {
				width: 6.5vw;
			}
		}
	}
	.mobile-btn {
		display: inline-block;
		position: absolute;
	    right: 3.9vw;
	    top: 6.9vw;
		img {
			width: 5.3vw;
			filter: brightness(0);
		}
	}
	.form_search {
		position: fixed;
		width: 92vw;
		top: 28vw;/* 19vw */
		right: 0;
		left: 0;
		margin: auto;
		.input-group {
			width: 100%;
		}
		.form-input {
			width: 86vw;
		    font-size: 3.5vw;
		    padding: 2vw 3vw;
		    line-height: 6vw;
		}
	}
	.fixed-header .form_search {
		top: 19vw;
	}
	.close-form_search {
	    width: 4vw;
	    height: 4vw;
	    top: 3vw;
	}
	.ui-autocomplete {
		width: 92vw;
		li {
			font-size: 3vw;
		    text-align: left;
    		margin-bottom: 2vw;
		}
	}
	/* .form_search, .ui-wrapper {
		display: none!important;
	} */
}

/* end page-header */