
/* the variables */

// font 
$font-raleway: 'Raleway', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-karla: 'Karla', sans-serif;

//general
$body: $font-raleway; 

// color
$color-body: #f6eeec;
$color-black: #000;
$color-white: #fff;
$color-red: #ac063c;
$color-brown: #aa5844;
$color-green: #1b3c33;

// color text
$color-p: $color-black;

// image_dir
$image_dir: '../img/'; 

/* end variables */